@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("fonts/MyriadPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira-Sans';
    src: url('fonts/firasans/firasans.woff2') format('woff2'), url('fonts/firasans/firasans.woff') format('woff'), url('fonts/firasans/firasans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira-Sans-Medium';
    src: url('fonts/firasans-medium/firasansmedium.woff2') format('woff2'), url('fonts/firasans-medium/firasansmedium.woff') format('woff'), url('fonts/firasans-medium/firasansmedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira-Sans-Light';
    src: url('fonts/firasans-light/firasanslight.woff2') format('woff2'), url('fonts/firasans-light/firasanslight.woff') format('woff'), url('fonts/firasans-light/firasanslight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira-Sans-Light-Italic';
    src: url('fonts/firasans-lightitalic/firasanslightitalic.woff2') format('woff2'), url('fonts/firasans-lightitalic/firasanslightitalic.woff') format('woff'), url('fonts/firasans-lightitalic/firasanslightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-sans-light';
    src: url('fonts/opensans-light/opensanslight.woff2') format('woff2'),
         url('fonts/opensans-light/opensanslight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proximanova-regular';
     src: url('fonts/proximanova-regular/proximanova-regular.woff2') format('woff2'), url('fonts/proximanova-regular/proximanova-regular.woff') format('woff'), url('fonts/proximanova-regular/proximanova-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


$myriadproregular: 'MyriadPro-Regular', sans-serif;
$firasansregular: 'Fira-Sans', sans-serif;
$firasansmedium: 'Fira-Sans-Medium', sans-serif;
$firasanslight: 'Fira-Sans-Light', sans-serif;
$firasanslightitalic: 'Fira-Sans-Light-Italic', sans-serif;
$opensanslight: 'Open-sans-light', sans-serif;
