body {
    overflow-x: hidden;
    transition: all 0.3s;
    font-family: $firasansregular;
    &.ov-h {
        overflow: hidden;
        margin-right: 50px;
    }
}
a {
    text-decoration: none;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.grey-bg {
    background: #f8f8f8;
}
.section-title {
    margin-bottom: 41px;
    letter-spacing: -0.4px;
    color: #363636;
    font-family: $firasanslight;
    font-size: 32px;
    font-weight: 100;
    @media (max-width: $screen-md-max) {
        // padding-left: 38px;
        letter-spacing: 0;
    }
    @media (max-width: $screen-sm-max) {
        font-size: 24px;
        line-height: 32px;
        // margin-bottom: 28px;
    }
}
.btn-rect {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 16px;
    line-height: 50px;
    &.blue {
        margin-left: 0;
        color: #fff;
        border-color: $blue;
        background: $blue;
        transition: opacity 0.2s;
        &:hover {
            opacity: 0.8;
            transition: opacity 0.2s;
        }
    }
    &.download {
        position: relative;
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 14px;
            width: 12px;
            height: 13px;
            margin: auto;
            content: '';
            background: url("../images/download-arrow.svg") no-repeat;
            background-size: cover;
        }
    }
    &.no-border {
        border-radius: 0;
    }
}
.page-wrapper {
    opacity: 0;
}
label.error {
    color: red;
    font-family: $firasansregular;
    font-size: 14px;
}
.page-header {
    margin-bottom: 39px;
    padding-top: 54px;
    font-size: 40px;
    &--publications {
        margin-bottom: 32px;
    }
    &--responsibility {
        margin-bottom: 48px;
        .page-header__current-category {
            margin-bottom: 46px;
        }
        .page-header__sub-title {
            p {
                &:not(:last-child) {
                    margin-bottom: 33px;
                }
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        margin-bottom: 36px;
        padding-top: 20px;
        font-size: 30px;
        position: relative;
        z-index: 2;
    }
    &__date-wrapper {
        float: right;
        width: 500px;
        margin-top: -11px;
        @media (max-width: $screen-md-max) {
            float: none;
            width: 100%;
            margin-top: 0;
            margin-bottom: 20px;
            .page-header__search {
                float: left;
                width: 45%;
            }
            .page-header__date-select {
                width: 45%;
                margin-left: 0;
                .jq-selectbox,
                .jq-selectbox__select {
                    width: 100%;
                }
            }
        }
        @media (max-width: $screen-sm-max) {
            .page-header__search {
                float: none;
                width: 100%;
            }
            .page-header__date-select {
                float: none;
                margin-bottom: 20px;
                width: 100%;
            }
        }
        &--publications {
            float: none;
            width: 100%;
            margin-top: 32px;
            padding-left: 4px;
            @media (max-width: $screen-sm-max) {
                padding-left: 0;
            }
            .page-header__date-select,
            .page-header__search--date {
                margin-right: 7px;
                float: left;
                width: 210px;
                @media (max-width: $screen-sm-max) {
                    margin-right: 0;
                    float: none;
                    width: 100%;
                }
            }
        }
    }
    &__search {
        position: relative;
        float: right;
        margin-top: 34px;
        @include size(450px,50px);
        &--date {
            width: 210px;
            margin-top: 0;
        }
        @media (max-width: $screen-md-max) {
            float: none;
            width: 100%;
            margin-top: 0;
            margin-bottom: 20px;
        }
        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }
    &__date-select {
        float: right;
        margin-left: 29px;
        font-size: 0;
        .jq-selectbox {
            &.opened {
                .jq-selectbox__select {
                    border-color: #0d47a1;
                    background-color: #0d47a1;
                    .jq-selectbox__trigger {
                        &:before {
                            margin: auto;
                            content: '';
                            @include position(absolute,0 0 0 0);
                            @include sprite($white-arrow);
                        }
                    }
                    .jq-selectbox__select-text {
                        color: #fff;
                    }
                }
            }
        }
        .jq-selectbox__select {
            padding-left: 21px;
            transition: 0.2s ease;
            color: #0b1426;
            border: 1px solid #e7e7e7;
            border-radius: 2px;
            background: #fff;
            box-shadow: none;
            text-shadow: none;
            font-family: $firasansregular;
            font-size: 16px;
            line-height: 50px;
            @include size(210px,50px);
            &:hover {
                transition: 0.2s ease;
                border-color: $lightgrey;
            }
            .jq-selectbox__trigger {
                width: 49px;
                border: none;
                &:before {
                    margin: auto;
                    content: '';
                    @include position(absolute,0 0 0 0);
                    @include sprite($black-arrow);
                }
                .jq-selectbox__trigger-arrow {
                    display: none;
                }
            }
        }
        .jq-selectbox {
            li {
                padding: 23px 22px 9px;
                background-color: #f9f9f9;
                color: #333;
                &:hover {
                    color: #333;
                    background-color: #d8d8d8;
                }
            }
            ul {
                height: 400px;
            }
        }
        .jq-selectbox__dropdown {
            margin: 0;
            color: #333;
            border-radius: 0;
            font-family: $firasansregular;
            font-size: 16px;
            line-height: 34px;
            .mCSB_inside > .mCSB_container {
                margin-right: 0;
            }
        }
    }
    &__search-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        padding-right: 50px;
        padding-left: 19px;
        color: #000;
        border: 1px solid #e7e7e7;
        border-radius: 2px;
        font-family: $firasanslight;
        font-size: 16px;
        transition: 0.2s ease;
        &:hover {
            border-color: #828282;
            transition: 0.2s ease;
        }
        &::-webkit-input-placeholder {
            color: $lightgrey;
            font-family: $firasanslight;
            font-size: 16px;
        }
        &::-moz-placeholder {
            color: $lightgrey;
            font-family: $firasanslight;
            font-size: 16px;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
            color: $lightgrey;
            font-family: $firasanslight;
            font-size: 16px;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
            color: $lightgrey;
            font-family: $firasanslight;
            font-size: 16px;
        }
    }
    &__search-submit {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        border: none;
        outline: none;
        background: url("../images/icon-news-search.svg") no-repeat;
        background-position: center center;
        @include size(50px,50px);
        transition: 0.2s ease;
        &:hover {
            opacity: 0.5;
            transition: 0.2s ease;
        }
    }
    &__category {
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 0.35em;
        @media (max-width: $screen-sm-max) {
            margin-bottom: 5px;
        }
        a {
            color: $lightgrey;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__town {
        font-family: $firasanslight;
        color: #999999;
        font-size: 14px;
        width: 90%;
        text-transform: uppercase;
        margin: 13px 0 0;
        span {
            display: block;
            color: #be0030;
        }
        @media (max-width: $screen-sm-max) {
            margin-top: 40px;
            width: 100%;
        }
    }
    &__current-category {
        color: #363636;
        font-family: $firasanslight;
        font-size: 1em;
        font-weight: normal;
        &.margin {
            margin: 8px 0 4px;
        }
        &.lh-mod {
            line-height: 40px;
            margin-top: 11px;
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 0;
            line-height: 26px;
            font-size: 24px;
        }
    }
    &__sub-title {
        width: 82%;
        color: #333333;
        font-family: $firasanslight;
        font-size: 0.6em;
        line-height: 34px;
        &.target-margin {
            margin: 34px 0 5px;
        }
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }
}
.mCSB_scrollTools .mCSB_draggerRail {
    background: transparent;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    width: 6px;
    opacity: 0.6;
    border-radius: 3px;
    background-color: #636363;
}
