/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$black-arrow-name: 'black-arrow';
$black-arrow-x: 122px;
$black-arrow-y: 54px;
$black-arrow-offset-x: -122px;
$black-arrow-offset-y: -54px;
$black-arrow-width: 12px;
$black-arrow-height: 9px;
$black-arrow-total-width: 140px;
$black-arrow-total-height: 111px;
$black-arrow-image: 'sprite.png';
$black-arrow: (122px, 54px, -122px, -54px, 12px, 9px, 140px, 111px, 'sprite.png', 'black-arrow', );
$bluenext-name: 'bluenext';
$bluenext-x: 122px;
$bluenext-y: 0px;
$bluenext-offset-x: -122px;
$bluenext-offset-y: 0px;
$bluenext-width: 18px;
$bluenext-height: 36px;
$bluenext-total-width: 140px;
$bluenext-total-height: 111px;
$bluenext-image: 'sprite.png';
$bluenext: (122px, 0px, -122px, 0px, 18px, 36px, 140px, 111px, 'sprite.png', 'bluenext', );
$blueprev-name: 'blueprev';
$blueprev-x: 96px;
$blueprev-y: 52px;
$blueprev-offset-x: -96px;
$blueprev-offset-y: -52px;
$blueprev-width: 18px;
$blueprev-height: 36px;
$blueprev-total-width: 140px;
$blueprev-total-height: 111px;
$blueprev-image: 'sprite.png';
$blueprev: (96px, 52px, -96px, -52px, 18px, 36px, 140px, 111px, 'sprite.png', 'blueprev', );
$checkgreen-name: 'checkgreen';
$checkgreen-x: 72px;
$checkgreen-y: 51px;
$checkgreen-offset-x: -72px;
$checkgreen-offset-y: -51px;
$checkgreen-width: 24px;
$checkgreen-height: 24px;
$checkgreen-total-width: 140px;
$checkgreen-total-height: 111px;
$checkgreen-image: 'sprite.png';
$checkgreen: (72px, 51px, -72px, -51px, 24px, 24px, 140px, 111px, 'sprite.png', 'checkgreen', );
$circlenext-name: 'circlenext';
$circlenext-x: 0px;
$circlenext-y: 19px;
$circlenext-offset-x: 0px;
$circlenext-offset-y: -19px;
$circlenext-width: 33px;
$circlenext-height: 32px;
$circlenext-total-width: 140px;
$circlenext-total-height: 111px;
$circlenext-image: 'sprite.png';
$circlenext: (0px, 19px, 0px, -19px, 33px, 32px, 140px, 111px, 'sprite.png', 'circlenext', );
$circleprev-name: 'circleprev';
$circleprev-x: 33px;
$circleprev-y: 19px;
$circleprev-offset-x: -33px;
$circleprev-offset-y: -19px;
$circleprev-width: 33px;
$circleprev-height: 32px;
$circleprev-total-width: 140px;
$circleprev-total-height: 111px;
$circleprev-image: 'sprite.png';
$circleprev: (33px, 19px, -33px, -19px, 33px, 32px, 140px, 111px, 'sprite.png', 'circleprev', );
$close-name: 'close';
$close-x: 122px;
$close-y: 36px;
$close-offset-x: -122px;
$close-offset-y: -36px;
$close-width: 18px;
$close-height: 18px;
$close-total-width: 140px;
$close-total-height: 111px;
$close-image: 'sprite.png';
$close: (122px, 36px, -122px, -36px, 18px, 18px, 140px, 111px, 'sprite.png', 'close', );
$design-name: 'design';
$design-x: 54px;
$design-y: 89px;
$design-offset-x: -54px;
$design-offset-y: -89px;
$design-width: 20px;
$design-height: 21px;
$design-total-width: 140px;
$design-total-height: 111px;
$design-image: 'sprite.png';
$design: (54px, 89px, -54px, -89px, 20px, 21px, 140px, 111px, 'sprite.png', 'design', );
$develop-name: 'develop';
$develop-x: 0px;
$develop-y: 0px;
$develop-offset-x: 0px;
$develop-offset-y: 0px;
$develop-width: 76px;
$develop-height: 19px;
$develop-total-width: 140px;
$develop-total-height: 111px;
$develop-image: 'sprite.png';
$develop: (0px, 0px, 0px, 0px, 76px, 19px, 140px, 111px, 'sprite.png', 'develop', );
$facebook-name: 'facebook';
$facebook-x: 20px;
$facebook-y: 51px;
$facebook-offset-x: -20px;
$facebook-offset-y: -51px;
$facebook-width: 26px;
$facebook-height: 26px;
$facebook-total-width: 140px;
$facebook-total-height: 111px;
$facebook-image: 'sprite.png';
$facebook: (20px, 51px, -20px, -51px, 26px, 26px, 140px, 111px, 'sprite.png', 'facebook', );
$fb-icon-name: 'fb-icon';
$fb-icon-x: 96px;
$fb-icon-y: 26px;
$fb-icon-offset-x: -96px;
$fb-icon-offset-y: -26px;
$fb-icon-width: 26px;
$fb-icon-height: 26px;
$fb-icon-total-width: 140px;
$fb-icon-total-height: 111px;
$fb-icon-image: 'sprite.png';
$fb-icon: (96px, 26px, -96px, -26px, 26px, 26px, 140px, 111px, 'sprite.png', 'fb-icon', );
$next-name: 'next';
$next-x: 0px;
$next-y: 51px;
$next-offset-x: 0px;
$next-offset-y: -51px;
$next-width: 20px;
$next-height: 38px;
$next-total-width: 140px;
$next-total-height: 111px;
$next-image: 'sprite.png';
$next: (0px, 51px, 0px, -51px, 20px, 38px, 140px, 111px, 'sprite.png', 'next', );
$prev-name: 'prev';
$prev-x: 76px;
$prev-y: 0px;
$prev-offset-x: -76px;
$prev-offset-y: 0px;
$prev-width: 20px;
$prev-height: 38px;
$prev-total-width: 140px;
$prev-total-height: 111px;
$prev-image: 'sprite.png';
$prev: (76px, 0px, -76px, 0px, 20px, 38px, 140px, 111px, 'sprite.png', 'prev', );
$twitter-icon-name: 'twitter-icon';
$twitter-icon-x: 0px;
$twitter-icon-y: 89px;
$twitter-icon-offset-x: 0px;
$twitter-icon-offset-y: -89px;
$twitter-icon-width: 27px;
$twitter-icon-height: 22px;
$twitter-icon-total-width: 140px;
$twitter-icon-total-height: 111px;
$twitter-icon-image: 'sprite.png';
$twitter-icon: (0px, 89px, 0px, -89px, 27px, 22px, 140px, 111px, 'sprite.png', 'twitter-icon', );
$twitter-name: 'twitter';
$twitter-x: 27px;
$twitter-y: 89px;
$twitter-offset-x: -27px;
$twitter-offset-y: -89px;
$twitter-width: 27px;
$twitter-height: 22px;
$twitter-total-width: 140px;
$twitter-total-height: 111px;
$twitter-image: 'sprite.png';
$twitter: (27px, 89px, -27px, -89px, 27px, 22px, 140px, 111px, 'sprite.png', 'twitter', );
$vk-icon-name: 'vk-icon';
$vk-icon-x: 46px;
$vk-icon-y: 51px;
$vk-icon-offset-x: -46px;
$vk-icon-offset-y: -51px;
$vk-icon-width: 26px;
$vk-icon-height: 26px;
$vk-icon-total-width: 140px;
$vk-icon-total-height: 111px;
$vk-icon-image: 'sprite.png';
$vk-icon: (46px, 51px, -46px, -51px, 26px, 26px, 140px, 111px, 'sprite.png', 'vk-icon', );
$vk-name: 'vk';
$vk-x: 96px;
$vk-y: 0px;
$vk-offset-x: -96px;
$vk-offset-y: 0px;
$vk-width: 26px;
$vk-height: 26px;
$vk-total-width: 140px;
$vk-total-height: 111px;
$vk-image: 'sprite.png';
$vk: (96px, 0px, -96px, 0px, 26px, 26px, 140px, 111px, 'sprite.png', 'vk', );
$white-arrow-name: 'white-arrow';
$white-arrow-x: 122px;
$white-arrow-y: 63px;
$white-arrow-offset-x: -122px;
$white-arrow-offset-y: -63px;
$white-arrow-width: 12px;
$white-arrow-height: 9px;
$white-arrow-total-width: 140px;
$white-arrow-total-height: 111px;
$white-arrow-image: 'sprite.png';
$white-arrow: (122px, 63px, -122px, -63px, 12px, 9px, 140px, 111px, 'sprite.png', 'white-arrow', );
$spritesheet-width: 140px;
$spritesheet-height: 111px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($black-arrow, $bluenext, $blueprev, $checkgreen, $circlenext, $circleprev, $close, $design, $develop, $facebook, $fb-icon, $next, $prev, $twitter-icon, $twitter, $vk-icon, $vk, $white-arrow, );
$spritesheet: (140px, 111px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../images/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
