@@include('../chunks/head.html')
</head>

<body>
    @@include('../chunks/svg.html') @@include('../chunks/pop-up.html')
    <div id="page-wrapper" class="page-wrapper">
        @@include('../chunks/header.html')
        <div id="page-body" class="b_main">
            @@include('../chunks/career.html')
        </div>

        @@include('../chunks/footer.html')

    </div>


    <!-- scripts
___________________________________________________________________________-->

    @@include('../chunks/scripts.html')
</body>

</html>
