
<div class="slider slider__live js-slider">
    <div class="slider__item" style="background:url(uploads/career.jpg) no-repeat center / cover; ">
        <div class="slider__text-wrapper container slider-corp-wrapper">
            <div class="slider__breadcrams">
                Карьера в компании /
            </div>
            <div class="slider__title slider__title-live">
               Компания открытых возможностей
            </div>
            <div class="slider__description">
                2012 год <br>Совещание по важным вопросам
            </div>
        </div>
    </div>
    <div class="slider__item" style="background:url(uploads/career.jpg) no-repeat center / cover; ">
        <div class="slider__text-wrapper container slider-corp-wrapper">
            <div class="slider__breadcrams">
                Карьера в компании /
            </div>
            <div class="slider__title slider__title-live">
               Компания открытых возможностей
            </div>
            <div class="slider__description">
                2012 год <br>Совещание по важным вопросам
            </div>
        </div>
    </div>
    <div class="slider__item" style="background:url(uploads/career.jpg) no-repeat center / cover; ">
        <div class="slider__text-wrapper container slider-corp-wrapper">
            <div class="slider__breadcrams">
                Карьера в компании /
            </div>
            <div class="slider__title slider__title-live">
               Компания открытых возможностей
            </div>
            <div class="slider__description">
                2012 год <br>Совещание по важным вопросам
            </div>
        </div>
    </div>
</div>

<div class="page-header container">
    <h1 class="page-header__current-category">Системный интегратор и оператор услуг безопасности</h1>
    <div class="page-header__sub-title">
        Мы — компания открытых возможностей. Вы можете начать или продолжить карьеру вместе с нами, став частью целеустремлённой, дружной и активной команды.
    </div>
</div>
<div class="n-rt">
<div class="grey-bg target-section target-section--text-right">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-left">
                <img src="uploads/career_1.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Мы рады интересным идеям
                </div>
                <div class="target-section__text-line">
                    Мы — компания, которая стремится развивать интересные идеи. Наши сотрудники не боятся высказывать свои предложения, а руководство, в свою очередь, не боится их воплощать
                    <div class="target-section__under-text">
                        <div class="target-section__name">Денис Сапожников</div>
                        <div class="target-section__position">Директор по специальным проектам</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="target-section target-section--text-left">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-right">
                <img src="uploads/career_2.jpg" alt="">
            </div>
            <div class="target-section__info target-section--text-left__info pull-left ">
                <div class="target-section__title">
                    Нам хорошо вместе
                </div>
                <div class="target-section__text-line ">
                    Мне нравится, что все мы общаемся по-дружески, а руководство компании придерживается демократичного стиля управления. Мы — дружный коллектив, я считаю, что это очень важно.
                    <div class="target-section__under-text">
                        <div class="target-section__name">Дмитрий Фирсов</div>
                        <div class="target-section__position">Ведущий инженер дирекции монтажа и сервиса</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grey-bg target-section target-section--text-right">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-left">
                <img src="uploads/career_3.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Мы создаём пространство для развития
                </div>
                <div class="target-section__text-line">
                    Наши проекты – это и постоянная проверка моих знаний, и непрерывное освоение новых профессиональных компетенций.
                    <div class="target-section__under-text">
                        <div class="target-section__name">Виктор Колом</div>
                        <div class="target-section__position">Главный инженер Дирекции монтажа и сервиса</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="target-section target-section--text-left career-st">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-right">
                <img src="uploads/career_4.jpg" alt="">
            </div>
            <div class="target-section__info target-section--text-left__info pull-left ">
                <div class="target-section__title">
                    Обучение
                </div>
                <div class="target-section__te">Наша команда и знания всех её участников — важные факторы успеха компании, поэтому мы стремимся вкладываться в развитие своих сотрудников. Наши специалисты постоянно проходят дополнительное обучение: посещают тренинги, семинары и магистерские программы.</div>
                <a href="#" class="btn-rect socials-list__btn js-pop-up" data-pop="pop-up-carer">Подробнее</a>
            </div>
        </div>
    </div>
</div>
</div>
    <div class="container ">
        <div class="row">
            <div class="greyline"></div>

             <div class="target-section__te">Сегодня Группа компаний «Росохрана» — один из лидеров в сфере услуг безопасности Санкт-Петербурга. Мы сотрудничаем с Управлением вневедомственной охраны ГУ МВД РФ и создали особую сеть передачи данных, обеспечивающую высокую скорость реагирования полиции на тревожные вызовы. В настоящее время, помимо предоставления телекоммуникационных и охранных услуг, мы активно развиваем и другие проекты: аудит систем безопасности, проектирование и строительство инженерных систем, создание и администрирование ведомственных сетей связи.</div>

              <div class="target-section__te">Мы гордимся результатами своей работы и нашей командой, члены которой стали настоящей семьёй: коллеги открыты друг для друга, умеют поддержать и помочь. </div>

               <div class="target-section__te">Люди — самое ценное, что может быть у любой компании. Нам важна индивидуальность каждого, и мы стремимся раскрывать таланты сотрудников, создавая условия не только для комфортной работы, но и для профессионального роста: специалисты Группы компаний «Росохрана» постоянно повышают квалификацию и совершенствуют свои знания. Нам нравится видеть, как развивается бизнес, но ещё приятнее наблюдать, как вместе с компанией развивается и её команда. </div>

               <div class="target-section__te-big">Нам интересно быть первыми, именно поэтому мы открыты для соискателей — талантливых, энергичных и желающих развиваться.</div>

            <div class="container corp-live-btn">
                <a href="#" class="btn-rect socials-list__btn js-pop-up" data-pop="pop-up-profes">Вакансии</a>
            </div>
        </div>
    </div>