<div class="page-header container">
    <div class="page-header__category">О компании /</div>
    <h1 class="page-header__current-category">Лицензии и сертификаты</h1>
</div>


<div class="certificates container">
    <div class="row">
        <a href="#" class="col-md-3 col-sm-6 certificates__item js-pop-up" data-pop="pop-up-certificates" data-cert="0">
            <span class="certificates__img">
            <img src="uploads/certificates-1.jpg" alt="">
        </span>
            <span class="certificates__name">Лицензия</span>
            <span class="certificates__period">02 апр. 2016 — 02 апр. 2026</span>
        </a>

        <a href="#" class="col-md-3 col-sm-6 certificates__item js-pop-up" data-pop="pop-up-certificates" data-cert="1">
            <span class="certificates__img">
            <img src="uploads/certificates-2.jpg" alt="">
        </span>
            <span class="certificates__name">Свидетельство</span>
            <span class="certificates__period">02 апр. 2016 — 02 апр. 2026</span>
        </a>

        <a href="#" class="col-md-3 col-sm-6 certificates__item js-pop-up" data-pop="pop-up-certificates" data-cert="2">
            <span class="certificates__img">
            <img src="uploads/certificates-3.jpg" alt="">
        </span>
            <span class="certificates__name">Лицензия</span>
            <span class="certificates__period">02 апр. 2016 — 02 апр. 2026</span>
        </a>

        <a href="#" class="col-md-3 col-sm-6 certificates__item js-pop-up" data-pop="pop-up-certificates" data-cert="3">
            <span class="certificates__img">
            <img src="uploads/certificates-4.jpg" alt="">
        </span>
            <span class="certificates__name">Лицензия</span>
            <span class="certificates__period">02 апр. 2016 — 02 апр. 2026</span>
        </a>

        <a href="#" class="col-md-3 col-sm-6 certificates__item js-pop-up" data-pop="pop-up-certificates" data-cert="4">
            <span class="certificates__img">
            <img src="uploads/certificates-5.jpg" alt="">
        </span>
            <span class="certificates__name">Лицензия</span>
            <span class="certificates__period">02 апр. 2016 — 02 апр. 2026</span>
        </a>

        <a href="#" class="col-md-3 col-sm-6 certificates__item js-pop-up" data-pop="pop-up-certificates" data-cert="5">
            <span class="certificates__img">
            <img src="uploads/certificates-6.jpg" alt="">
        </span>
            <span class="certificates__name">Свидетельство</span>
            <span class="certificates__period">02 апр. 2016 — 02 апр. 2026</span>
        </a>

        <a href="#" class="col-md-3 col-sm-6 certificates__item js-pop-up" data-pop="pop-up-certificates" data-cert="6">
            <span class="certificates__img">
            <img src="uploads/certificates-7.jpg" alt="">
        </span>
            <span class="certificates__name">Лицензия</span>
            <span class="certificates__period">02 апр. 2016 — 02 апр. 2026</span>
        </a>

        <a href="#" class="col-md-3 col-sm-6 certificates__item js-pop-up" data-pop="pop-up-certificates" data-cert="7">
            <span class="certificates__img">
            <img src="uploads/certificates-8.jpg" alt="">
        </span>
            <span class="certificates__name">Лицензия</span>
            <span class="certificates__period">02 апр. 2016 — 02 апр. 2026</span>
        </a>
    </div>
</div>
