<dov class="clearfix">
    <div class="left-con">
        <div class="smol-c">
            <div class="page-header container">
                <div class="page-header__category">О компании /</div>
                <h1 class="page-header__current-category">Контакты</h1>
            </div>

            <div class="left-contact-wrapper container">
                <p class="contact__city">Санкт-Петербург</p>
                <a href="" class="contact__plase">197110, Санкт-Петербург, Пионерская улица, 55А</a>
                <ul class="list-tel">
                    <li class="list-tel__item"><span class="list-tel__item-span">Для физ. лиц</span>+7 (812) 326-17-20 </li>
                    <li class="list-tel__item"><span class="list-tel__item-span">Для юр. лиц </span>+7 (812) 326-17-21 </li>
                    <li class="list-tel__item"><span class="list-tel__item-span">Факс</span>+7 (812) 325-65-17</li>
                </ul>
                <div class="list-tel__bor-b"><span class="list-tel__item-span">Эл. почта</span><a href="mailto:info@rosohranatelecom.ru" class="list-tel__link  " >info@rosohranatelecom.ru</a></div>
                <div class="abs-line"></div>
                <a href="" class="oun-room js-pop-up" data-pop="pop-up-mail"><span class="oun-room__come" >Написать </span> письмо</a>
            </div>
        </div>
    </div>

    <div class="map" id="map"></div>
</dov>
