<div class="page-header container">
    <div class="page-header__category">Сотрудничество /</div>
    <h1 class="page-header__current-category">Принципы сотрудничества</h1>
    <div class="page-header__sub-title">
        Нам важны наши партнёры и наши клиенты. Мы бесконечно ценим сложившиеся между нами отношения — крепкие, надёжные, обеспечивающие взаимное развитие. Тем, кто только собирается начать работать с Группой компаний «РОСОХРАНА», мы хотим представить наши основные
        принципы, которые сделают наше сотрудничество максимально эффективным и полезным.
    </div>
</div>

<div class="grey-bg target-section target-section--text-right cooperation">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-left">
                <img src="uploads/cooperation-1.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Мы исполняем свои обещания

                </div>
                <div class="target-section__text">
                    Те обязательства, которые мы на себя берём, те обещания, которые мы даём устно или письменно, исполняются нами последовательно и беспрекословно. Честность перед партнёрами и клиентами — основа работы Группы компаний «РОСОХРАНА».
                </div>
            </div>
        </div>
    </div>
</div>

<div class="target-section target-section--text-left cooperation">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-right">
                <img src="uploads/cooperation-2.jpg" alt="">
            </div>
            <div class="target-section__info target-section--text-left__info pull-left ">
                <div class="target-section__title">
                    Нам важно мнение делового партнера
                </div>
                <div class="target-section__text">
                    Партнёрство подразумевает поиск наиболее эффективных путей решения задач. Мы открыты для встречных идей и ценим инициативы наших партнёров.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="numbers">
    <div class="container">
        <div class="row">
            <div class="col-md-4 numbers__item">
                <div class="numbers__title">10</div>
                <div class="numbers__text">Группа компаний «РОСОХРАНА» 10 лет <br> на рынке безопасности</div>
            </div>
            <div class="col-md-4 numbers__item">
                <div class="numbers__title">200</div>
                <div class="numbers__text">более 200 терминалов для оплаты <br> услуг в 36 районах Санкт-Петербурга <br> и Ленинградской области</div>
            </div>
            <div class="col-md-4 numbers__item">
                <div class="numbers__title">5000</div>
                <div class="numbers__text">ежемесячно и в максимально <br> короткие сроки отрабатывается <br> более 5000 обращений клиентов</div>
            </div>
        </div>
    </div>
</div>

<div class=" target-section target-section--text-right cooperation">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-left">
                <img src="uploads/cooperation-3.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Мы за взаимное уважение
                </div>
                <div class="target-section__text">
                    Для нас деловые взаимоотношения — это взаимный учёт интересов и уважение друг к другу. В успешном бизнесе нет места «игре в одни ворота»: проявляя уважение к вам, мы рассчитываем на взаимность.
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" grey-bg target-section target-section--text-left cooperation">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-right">
                <img src="uploads/cooperation-4.jpg" alt="">
            </div>
            <div class="target-section__info target-section--text-left__info pull-left ">
                <div class="target-section__title">
                    Мы открыты для партнеров
                </div>
                <div class="target-section__text">
                    Наша компания возникла из идеи «помогать бизнесу быть безопасным». И в основе безопасности, на наш взгляд, лежат доверие и прозрачность. Мы доверяем партнёрам, и наша совместная работа всегда прозрачна — именно поэтому доверяют и нам.
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" target-section target-section--text-right cooperation">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-left">
                <img src="uploads/cooperation-5.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Исключительность условий для партнеров
                </div>
                <div class="target-section__text">
                Создавая тот или иной партнёрский проект, мы стремимся разработать такое предложение, которому нет равных ни по составляющим, ни по уровню качества предоставляемых услуг. Предлагая безупречный продукт, мы обеспечиваем партнёру наиболее комфортные условия для активного проявления и суммирования наших общих преимуществ при реализации задач.
                </div>
            </div>
        </div>
    </div>
</div>
