<div class="slider slider__live js-slider">
    <div class="slider__item" style="background:url(uploads/corp-live-slider.jpg) no-repeat center / cover; ">
        <div class="slider__text-wrapper container slider-corp-wrapper">
            <div class="slider__breadcrams">
                Карьера в компании /
            </div>
            <div class="slider__title slider__title-live">
               Корпоративная жизнь
            </div>
            <div class="slider__description">
                2015 год <br>Корпоративный отдых
            </div>
        </div>
    </div>
    <div class="slider__item" style="background:url(uploads/corp-live-slider.jpg) no-repeat center / cover; ">
        <div class="slider__text-wrapper container slider-corp-wrapper">
            <div class="slider__breadcrams">
                Карьера в компании /
            </div>
            <div class="slider__title slider__title-live">
               Корпоративная жизнь
            </div>
            <div class="slider__description">
                2015 год <br>Корпоративный отдых
            </div>
        </div>
    </div>
    <div class="slider__item" style="background:url(uploads/corp-live-slider.jpg) no-repeat center / cover; ">
        <div class="slider__text-wrapper container slider-corp-wrapper">
            <div class="slider__breadcrams">
                Карьера в компании /
            </div>
            <div class="slider__title slider__title-live">
               Корпоративная жизнь
            </div>
            <div class="slider__description">
                2015 год <br>Корпоративный отдых
            </div>
        </div>
    </div>
</div>

<p class="forgiv-st">2015 год<br>Корпоративный отдых</p>

<div class="director director__live container">
    <div class="director__text pull-left">
        Наша задача — не просто провести мероприятие, а создать эмоцию, которая <br>будет согревать людей, заряжая их впечатлениями!
        <div class="director__under-text">
            <div class="director__name">Мария Брехова</div>
            <div class="director__position">Руководитель отдела персонала</div>
        </div>
    </div>
</div>

<div class="corp-live container">
    <div class="corp-live__left-wrap">
        <div class="corp-live__title">Компания молодых и энергичных</div>
        <div class="corp-live__text-wrap">Мы — активная компания молодых и энергичных людей. Нам нравится проводить время вместе не только в офисе, но и за его пределами. Не остаются без внимания не только даты, важные для истории Группы компаний «Росохрана», но и солнечные летние выходные. Собираясь вместе, мы непременно отправляемся в тематическое путешествие, будь то съёмка в фильме, соревнования на скорость на скало- и роллердроме или настоящий рыцарский турнир.</div>
    </div>
    <div class="corp-live__slide-wrap">
        <div class="corp-live__slide-wrap_top">
            <div><img src="./uploads/cl-pic1.png"></div>
            <div><img src="./uploads/cl-pic2.png"></div>
            <div><img src="./uploads/cl-pic3.png"></div>
            <div><img src="./uploads/cl-pic4.png"></div>
            <div><img src="./uploads/cl-pic5.png"></div>
        </div>
        <div class="corp-live__slide-wrap_but">
            <div><img src="./uploads/cl-pic1.png"></div>
            <div><img src="./uploads/cl-pic4.png"></div>
            <div><img src="./uploads/cl-pic5.png"></div>
            <div><img src="./uploads/cl-pic2.png"></div>
            <div><img src="./uploads/cl-pic3.png"></div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="page-header__current-category corp-live-title">Хотите работать с нами, но не нашли <br> подходящей вакансии? </h2>
</div>

<div class="container corp-live-text">
    Заполните и отправьте свое резюме в кадровый резерв Группы компаний <br> «Росохрана». Как только у нас появится вакансия по интересующей <br> специальности, специалист Отдела персонала непременно свяжется с вами.
</div>

<div class="container corp-live-btn">
    <a href="#"  class="btn-rect socials-list__btn">База профессионалов</a>
</div>

