<footer id="footer" class="b_footer">
    <div class="container footer-list">
        <div class="row">
            <div class="clearfix">
                <div class="col-lg-2 col-md-6 col-sm-6 footer-list__item js-match-height hide-md">
                    <div class="footer-list__title">
                        О компании
                    </div>
                    <div class="footer-list__links">
                        <ul>
                            <li><a href="#">Руководство</a></li>
                            <li><a href="#">История</a></li>
                            <li><a href="#">Ценности<br>и предназначение</a></li>
                            <li><a href="#">Стратегия <br>и перспективы</a></li>
                            <li><a href="#">Лицензии сертификаты</a></li>
                            <li><a href="#">Социальная ответственность</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 footer-list__item js-match-height hide-md">
                    <div class="footer-list__title">
                        Сотрудничество
                    </div>
                    <div class="footer-list__links">
                        <ul>
                            <li><a href="#">Принципы сотрудничества</a></li>
                            <li><a href="#">Описание крупных проектов</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 footer-list__item js-match-height hide-md">
                    <div class="footer-list__title">
                        Пресс-центр
                    </div>
                    <div class="footer-list__links">
                        <ul>
                            <li><a href="#">Обзор обновлений</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Публикации в СМИ</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 footer-list__item js-match-height hide-md">
                    <div class="footer-list__title">
                        Карьера в компании
                    </div>
                    <div class="footer-list__links">
                        <ul>
                            <li><a href="#">Компания открытых возможностей</a></li>
                            <li><a href="#">Вакансии</a></li>
                            <li><a href="#">База профессионалов</a></li>
                            <li><a href="#">Корпоративная<br>жизнь</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <div class="footer-list__title">
                        Контакты
                    </div>
                    <div class="footer-list__links">
                        <ul>
                            <li class="hide-md">Санкт-Петербург</li>
                            <li>
                                <a href="callto:+78123261720">+7 (812) 326-17-20 </a>
                                <div class="footer-list__phone-detail">
                                    <span class="desktop">для физ.лиц</span>
                                    <span class="tablet">для физических лиц</span>
                                </div>
                            </li>
                            <li>
                                <a href="callto:+78123261721">+7 (812) 326-17-21 </a>
                                <div class="footer-list__phone-detail">

                                    <span class="desktop">для юр. лиц</span>
                                    <span class="tablet">для юридических лиц</span>
                                </div>
                            </li>
                        </ul>
                        <a href="mailto:rosohrana@mail.ru" class="footer-list__email">rosohrana@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container hide-md">
        <div class="legal-info">
            <div class="col-lg-5 col-lg-offset-2 legal-info__text">
                Свидетельство о регистрации  Эл №ФС77-47162
            </div>
            <div class="col-lg-3">
                <a href="#" class="btn-rect no-border">
                    Написать письмо
                </a>
            </div>
            <div class="col-lg-2">
                <div class="legal-info__social-btns">
                    <a href="#" class="legal-info__links twitter"></a>
                    <a href="#" class="legal-info__links fb"></a>
                    <a href="#" class="legal-info__links vk"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="copyright__left">
                Группа компаний «РОСОХРАНА»
            </div>

            <div class="copyright__created-by hide-md">
                <div class="design">
                    <a href="#"><img src="images/design.png" alt="design"></a> — Дизайн сайта
                </div>
                <div class="develop">
                    <a href="#"><img src="images/develop.png" alt="design"></a> — Разработка
                </div>
            </div>
        </div>
    </div>
</footer>
