<header id="header" class="b_header">

    <div class="container">
        <a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
        <a href="#" class="b_header__mob-menu-btn js-show-menu"><span></span></a>

        <a href="#" class="b_header__back js-dropdown-back">Назад</a>
        <nav class="b_header__menu">
            <ul>
                <li class="has-dropdown">
                    <a href="#">
                        О компании
                    </a>
                    <ul class="b_header__dropdown">
                        <li><a href="managment.html">Руководство</a></li>
                        <li><a href="history.html">История</a></li>
                        <li><a href="target.html">Ценности и предназначение</a></li>
                        <li><a href="strategy.html">Стратегия и перспективы</a></li>
                        <li><a href="certificates.html">Лицензии и сертификаты</a></li>
                        <li>
                            <form action="" class="b_header__search">
                                <input type="text" class="b_header__search-bar" placeholder="Поиск...">
                                <input type="submit" class="b_header__search-submit">
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Сотрудничество</a>
                    <ul class="b_header__dropdown">
                        <li><a href="cooperation.html">Сотрудничество</a></li>
                        <li><a href="projects.html">Проекты</a></li>
                        <li>
                            <form action="" class="b_header__search">
                                <input type="text" class="b_header__search-bar" placeholder="Поиск...">
                                <input type="submit" class="b_header__search-submit">
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Пресс-центр</a>
                    <ul class="b_header__dropdown">
                        <li><a href="updates.html">Обзор обновлений</a></li>
                        <li><a href="news.html">Список новостей</a></li>
                        <li><a href="publications.html">Список публикаций</a></li>
                        <li><a href="news-open.html">Новость полная</a></li>
                        <li>
                            <form action="" class="b_header__search">
                                <input type="text" class="b_header__search-bar" placeholder="Поиск...">
                                <input type="submit" class="b_header__search-submit">
                            </form>
                        </li>
                    </ul>
                </li>
                <li><a href="responsibility.html">Социальная ответственность</a></li>
                <li><a href="#">Карьера в компании</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>

        <form action="" class="b_header__search">
            <input type="text" class="b_header__search-bar" placeholder="Что вы искали?">
            <input type="submit" class="b_header__search-submit">
        </form>
        <!-- <a href="#" class=""></a> -->
    </div>
</header>
