<div class="page-header container">
    <div class="page-header__category">О компании /</div>
    <h1 class="page-header__current-category">История компании</h1>

</div>

<div class="history-list">
    <div class="container">
        <ul>
            <li>
                <div class="history-list__year">
                    2015
                </div>
                <div class="history-list__text">
                    <img src="uploads/history-img.jpg" alt="company history" class="history-list__img">
                    <p>
                        Создание и оснащение собственных сил реагирования (групп быстрого реагирования) на тревожные сигналы. Реализация ряда проектов по обеспечению безопасности предприятий ТЭК, военных частей Министерства обороны, крупных госучреждений.
                    </p>
                    <p>
                        Сделаны первые разработки по проекту «Умный дом». Разработано собственное ПО (для всех платформ, включая iOS и Android) и аппаратная часть (беспроводные датчики, сирены, система голосового оповещения, пульты управления, и пр.). Первая система введена
                        в эксплуатацию.
                    </p>
                </div>
            </li>
            <li>
                <div class="history-list__year">
                    2015
                </div>
                <div class="history-list__text">
                    <p>
                        Проектирование и реализация проектов комплексной безопасности жилых кварталов, видеоаналитики городского пространства, внедрение дополнительных сервисов в сфере общественной безопасности и сохранности имущества граждан.
                    </p>
                </div>
            </li>
            <li>
                <div class="history-list__year">
                    2013
                </div>
                <div class="history-list__text">
                    <p>
                        По поручению губернатора Санкт-Петербурга обеспечена комплексная безопасность всех государственных учреждений начального и среднего образования. На более чем 2500 объектах установлено современное, соответствующее всем требованиям по безопасности, предъявляемым
                        МВД РФ, оборудование. Защита обеспечена не только в помещениях школ и садов, но и на прилегающей территории. Дополнительно переданы переносные кнопки тревожной сигнализации для сторожей, воспитателей и учителей физической культуры.
                    </p>
                </div>
            </li>
            <li>
                <div class="history-list__year">
                    2012
                </div>
                <div class="history-list__text">
                    <p>
                        Построен центр оперативного реагирования. Введена новая услуга – «Мониторинг стационарных объектов» с реагированием на сигналы тревоги силами групп задержания ФГКУ «Управление вневедомственной охраны ГУ МВД России по г. Санкт-Петербургу и Ленинградской
                        области».
                    </p>
                    <p>
                        Совместно с НИЦ «Охрана МВД России» разработана методика проведения тестирования охранного оборудования, выпускаемого на территории Российской Федерации и использующего для передачи сигналов постановки, снятия и тревог цифровые каналы связи.
                    </p>
                </div>
            </li>
            <li>
                <div class="history-list__year">
                    2010
                </div>
                <div class="history-list__text">
                    <p>
                        В рамках поручения Департамента государственной защиты имущества 87 тысячам абонентов предоставлены прямые каналы связи, созданы контакт-центр и система работы с физическими лицами.
                    </p>
                    <p>
                        Созданы условия и возможность для предоставления цифровых защищенных каналов передачи данных для целей охраны квартир и офисов с использованием современного охранного оборудования.
                    </p>
                    <p>
                        Организованы стыки со всеми крупными операторами связи региона, построены узлы связи, компания принимала активное участие в разработках нового охранного оборудования.
                    </p>
                    <p>У абонентов и вневедомственной охраны появилась возможность использования для передачи сигналов с охранного оборудования на пульты в подразделения полиции, оптоволоконных и беспроводных (GSM) каналов связи.</p>
                    <p>Введена новая услуга – «SMS_Информирование» абонентов о состоянии технических средств охраны, установленных на их объектах (квартирах, офисах, загородных домах). </p>
                </div>
            </li>
            <li>
                <div class="history-list__year">
                    2009—2006
                </div>
                <div class="history-list__text">
                    <p>
                        Строительство цифровой инфраструктуры безопасности для государственной защиты имущества. Адаптация цифровых технологий для нужд МВД (переход с медных линий связи на PON и GSM).
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
