<div class="slider js-slider hide-arr">
    <div class="slider__item">
        <div class="slider__text-wrapper container">
            <div class="slider__title">
                Обеспечение безопасности
                <br>всех образовательных учреждений
            </div>
            <a href="#" class="slider__rect-btn">Читать подробнее</a>
            <a href="#" class="slider__all-projects hide-sm">Все проекты</a>
        </div>
        <img src="uploads/slide-1.jpg" alt="" class="slider__img">
    </div>
    <div class="slider__item">
        <div class="slider__text-wrapper container">
            <div class="slider__title">
                Обеспечение безопасности
                <br>всех образовательных учреждений
            </div>
            <a href="#" class="slider__rect-btn">Читать подробнее</a>
            <a href="#" class="slider__all-projects hide-sm">Все проекты</a>
        </div>
        <img src="uploads/slide-2.jpg" alt="" class="slider__img">
    </div>
    <div class="slider__item">
        <div class="slider__text-wrapper container">
            <div class="slider__title">
                Обеспечение безопасности
                <br>всех образовательных учреждений
            </div>
            <a href="#" class="slider__rect-btn">Читать подробнее</a>
            <a href="#" class="slider__all-projects hide-sm">Все проекты</a>
        </div>
        <img src="uploads/slide-1.jpg" alt="" class="slider__img">
    </div>
</div>

<div class="director container hide-md">
    <div class="director__image pull-right">
        <img src="uploads/director-photo.jpg" alt="director">
    </div>
    <div class="director__text pull-left">
        Мы смело реализуем проекты, которые боятся брать другие. И сто процентов наших работ выполняются качественно и в срок. Мой базовый принцип — доводить начатое до конца.
        <br> И я рад, что коллеги разделяют эту позицию. На моих глазах вырос не один десяток специалистов, и мне приятно, что многие ведущие инженеры в нашей отрасли когда-то начинали под моим руководством. Источники такого успеха — целеустремлённость, желание
        развиваться и быть открытым для нового опыта. Успех каждого реализованного проекта провоцирует успех следующих — это путь нашего развития
        <div class="director__under-text">
            <div class="director__name">Евгений Королёв</div>
            <div class="director__position">директор дирекции монтажа и сервиса</div>
        </div>
    </div>

</div>

<div class=" container statistics hide-sm">
    <div class="section-title">Статистика</div>
    <div class="statistics__right-title">
        данные за январь 2016
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 diagram-items">
            <div class="radial-progress js-animation" data-progress="25">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                        <div class="fill fix"></div>
                    </div>
                    <div class="shadow"></div>
                </div>
                <div class="inset">
                    <div class="percentage">
                        4 <span>мин</span>
                    </div>
                </div>
            </div>
            <div class="radial-progress__info text-center">
                Время реагирования
            </div>
        </div>

        <div class="col-lg-5 col-md-8 diagram-items">
            <div class="legend">
                <ul>
                    <li class="red-circle">С задержанием <b class="legend__number">183</b></li>
                    <li>Без задержания<b class="legend__number">183</b></li>
                </ul>
            </div>
            <div class="radial-progress js-animation circle-left" data-progress="35">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                        <div class="fill fix"></div>
                    </div>
                    <div class="shadow"></div>
                </div>
                <div class="inset">
                    <div class="percentage">
                        221
                    </div>
                </div>
            </div>
            <div class="radial-progress__info text-center">
                Количество тревожных вызовов
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-md-offset-4 col-lg-offset-0 diagram-items hide-md">
            <div class="radial-progress js-animation" data-progress="75">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                        <div class="fill fix"></div>
                    </div>
                    <div class="shadow"></div>
                </div>
                <div class="inset">
                    <div class="percentage">
                        75 <b>%</b> <span>из 275</span>
                    </div>
                </div>
            </div>
            <div class="radial-progress__info text-center">
                Группы УВО реагируюшие на сигналы
            </div>
        </div>
    </div>
</div>

<div class="news container">
    <div class="section-title">Новости компании</div>
    <div class="news__list row">
        <div class="col-lg-4 col-md-6 news__item">
            <a href="#" class="news__img-wrapper">
                <img src="uploads/news-1.jpg" alt="news preview">
            </a>
            <div class="news__date">18 марта 2016</div>
            <a href="#" class="news__preview">
                ГК «Росохрана» на международной выставке технических средств охраны в Москве
            </a>
        </div>
        <div class="col-lg-4 col-md-6 news__item">
            <a href="#" class="news__img-wrapper">
                <img src="uploads/news-2.jpg" alt="news preview">
            </a>
            <div class="news__date">14 марта 2016
            </div>
            <a href="#" class="news__preview">
                Поддержка спорта: ГК «Росохрана» на чемпионате по смешанным единоборствам
            </a >
        </div>
        <div class="col-lg-4 col-md-6 news__item hide-md  show-sm">
            <div class="news__smi">
                <a href="#" class="news__smi-title">
                    Публикации в СМИ
                </a>
            <div class="news__smi-img">
                <img src="uploads/smi-img.png" alt="smi image">
            </div>
            <a href="#" class="news__smi-preview">
                    «Росохрана» объявила <br> о введении собственных сил быстрого реагирования
                </a>
        </div>
    </div>
</div>
</div>

<div class="directions grey-bg">
    <div class="container">
        <div class="section-title">Направления деятельности</div>
        <div class="row directions__list">
            <div class="col-lg-4 col-md-6 directions__main-info js-match-height">
                Группа компаний «РОСОХРАНА» предоставляет широкий спектр услуг безопасности для государственных и коммерческих организаций, физических лиц, гибко адаптируя сервисы под клиента, обеспечивая профессиональную защиту жизни людей, активов и репутации заказчика.
                Оберегая, мы даем клиентам уверенность в реализации их планов. Подробнее на сайтах:
                <a href="rosohranatelecom.ru" target="_blank">rosohranatelecom.ru</a>
                <br> и
                <a href="rosohrana-monitoring.ru" target="_blank">rosohrana-monitoring.ru</a>
            </div>

            <a href="#" class="col-lg-4 col-md-6 directions__items js-match-height js-pop-up" data-pop="pop-up-directions">
                <span class="wrapper">
                <span class="directions__title">Аудит систем безопасности</span>
                <span class="directions__img-wrapper">
                    <img src="uploads/directions-1.jpg" alt="directions image">
                </span>
                </span>
            </a>

            <a href="#" class="col-lg-4 col-md-6 directions__items js-match-height js-pop-up" data-pop="pop-up-directions">
                <span class="wrapper">
                <span class="directions__title">Создание <br> и администрирование <br> ведомственных сетей</span>
                <span class="directions__img-wrapper">
                    <img src="uploads/directions-2.jpg" alt="directions image">
                </span>
                </span>
            </a>

            <a href="#" class="col-lg-4 col-md-6 directions__items js-match-height js-pop-up" data-pop="pop-up-directions">
                <span class="wrapper">
                <span class="directions__title">Предоставление <br> оборудования в аренду</span>
                <span class="directions__img-wrapper">
                    <img src="uploads/directions-3.jpg" alt="directions image">
                </span>
                </span>
            </a>

            <a href="#" class="col-lg-4 col-md-6 directions__items js-match-height js-pop-up" data-pop="pop-up-directions">
                <span class="wrapper">
                <span class="directions__title">Проектирование <br> и строительство <br> инженерных и технических <br> систем безопасности</span>
                <span class="directions__img-wrapper">
                    <img src="uploads/directions-4.jpg" alt="directions image">
                </span>
                </span>
            </a>

            <a href="#" class="col-lg-4 col-md-6 directions__items js-match-height js-pop-up" data-pop="pop-up-directions">
                <span class="wrapper">
                <span class="directions__title">Охрана, мониторинг <br> и реагирование</span>
                <span class="directions__img-wrapper">
                    <img src="uploads/directions-5.jpg" alt="directions image">
                </span>
                </span>
            </a>
        </div>
    </div>
</div>

<div class="history container hide-sm">
    <div class="section-title">История компании</div>
    <div class="history__slider">
        <div class="history__items">
            <div class="history__year">2015</div>
            <div class="history__info">
                Строительство цифровой
                <br> инфраструктуры безопасности для
                <br> государственной защиты имущества.
                <br> Адаптация цифровых технологий для
                <br> нужд МВД (переход с медных линий
                <br> связи на PON и GSM)....
            </div>
        </div>
        <div class="history__items">
            <div class="history__year">2010</div>
            <div class="history__info">
                В рамках поручения Департамента государственной защиты имущества 87 тысячам абонентов предоставлены прямые каналы связи, созданы контакт-центр и система работы с физическими лицами...
            </div>
        </div>
        <div class="history__items">
            <div class="history__year">2015</div>
            <div class="history__info">
                Построен центр оперативного реагирования...
            </div>
        </div>
        <div class="history__items">
            <div class="history__year pink">2015</div>
            <div class="history__info">
                Строительство цифровой
                <br> инфраструктуры безопасности для
                <br> государственной защиты имущества.
                <br> Адаптация цифровых технологий для
                <br> нужд МВД (переход с медных линий
                <br> связи на PON и GSM)....
            </div>
        </div>
    </div>
</div>

<div class="partners grey-bg hide-sm">
    <div class="container">
        <div class="partners__line">
            <div class="partners__item">
                <img src="uploads/partner-1.png" alt="">
            </div>
            <div class="partners__item">
                <img src="uploads/partner-2.png" alt="">
            </div>
            <div class="partners__item">
                <img src="uploads/partner-3.png" alt="">
            </div>
            <div class="partners__item">
                <img src="uploads/partner-4.png" alt="">
            </div>
            <div class="partners__item">
                <img src="uploads/partner-5.png" alt="">
            </div>
            <div class="partners__item">
                <img src="uploads/partner-1.png" alt="">
            </div>
            <div class="partners__item">
                <img src="uploads/partner-2.png" alt="">
            </div>
        </div>
        <div class="partners__text text-center">
            Более 200 000 клиентов
        </div>
    </div>

</div>
