<div class="page-header container">
    <div class="page-header__category">О компании /</div>
    <h1 class="page-header__current-category">Руководство </h1>
</div>

<div class="main-person container ">
    <div class="main-person__wrapper clearfix">
        <img src="uploads/person-1.jpg" alt="" class="pull-left main-person__img">
        <div class="main-person__info">
            <div class="main-person__name">
                Андрей Анатольевич Афанасьев
            </div>
            <div class="main-person__position">
                Генеральный директор
            </div>
            <div class="main-person__quote">
                Отличительные свойства тех, кто работает
                <br> в ГК «Росохрана», — порядочность
                <br> и профессионализм...
            </div>
            <a href="#" class="btn-rect js-pop-up" data-pop="pop-up-management">Читать подробнее</a>
        </div>
    </div>
</div>

<div class="grey-bg managment-list">
    <div class="container">
        <div class="row clearfix">
            <a class="col-lg-6 js-pop-up" href="#" data-pop="pop-up-management">
                <span class="managment-list__wrapper clearfix">
                    <span class="managment-list__img-wrapper">
                        <img src="uploads/person-2.jpg" alt="">
                    </span>
                    <span class="managment-list__info">
                    <span class="managment-list__name">
                        Евгений Сергеевич
                    Плотников
                    </span>
                    <span class="managment-list__position">
                        Первый заместитель <br>
                        генерального директора
                    </span>
                    </span>
                </span>
            </a>

            <a class="col-lg-6 js-pop-up" href="#" data-pop="pop-up-management">
                <span class="managment-list__wrapper clearfix">
                    <span class="managment-list__img-wrapper">
                        <img src="uploads/person-3.jpg" alt="">
                    </span>
                    <span class="managment-list__info">
                    <span class="managment-list__name">
                        Денис Игоревич
                        Сапожников
                    </span>
                    <span class="managment-list__position">
                        Директор по специальным <br>
                        проектам
                    </span>
                    </span>
                </span>
            </a>

            <a class="col-lg-6 js-pop-up" href="#" data-pop="pop-up-management">
                <span class="managment-list__wrapper clearfix">
                    <span class="managment-list__img-wrapper">
                        <img src="uploads/person-4.jpg" alt="">
                    </span>
                    <span class="managment-list__info">
                    <span class="managment-list__name">
                        Евгений Артемьевич
                        Королёв
                    </span>
                    <span class="managment-list__position">
                        Директор дирекции <br>
                        монтажа и сервиса
                    </span>
                    </span>
                </span>
            </a>

            <a class="col-lg-6 js-pop-up" href="#" data-pop="pop-up-management">
                <span class="managment-list__wrapper clearfix">
                    <span class="managment-list__img-wrapper">
                        <img src="uploads/person-5.jpg" alt="">
                    </span>
                    <span class="managment-list__info">
                    <span class="managment-list__name">
                        Павел Олегович
                        Половников
                    </span>
                    <span class="managment-list__position">
                        Директор по работе <br>
                        с клиентами
                    </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>
