<div class="overlay"></div>

<div class="pop-up pop-up-directions">
    <div class="pop-up__content-wrapper">
        <div class="pop-up__wrapper pop-up__header">
            <div class="clearfix">
                <a href="#" class="js-close-pop pull-right pop-up__close"></a>
                <div class="pop-up__name pull-left">
                    Направления деятельности
                </div>
            </div>
            <div class="pop-up__title">
                Создание и администрирование ведомственных сетей связи
            </div>
        </div>
        <img src="uploads/pop-up-directions.jpg" alt="directions image" class="pop-up__img">
        <a href="#" class="pop-up__btn pop-up-directions__btn tablet">Перейти на сайт</a>
        <div class="pop-up__wrapper">
            <div class="pop-up__text">
                <ol class="pop-up__number-list">
                    <li>Строительство ведомственных сетей связи</li>
                    <li>
                        Организация каналов передачи данных между техническими средствами охраны объектов и диспетчерскими центрами (УВО и других организаций)
                        <ul class="pop-up__dft-list">
                            <li>Организация каналов передачи данных с использованием технологий GSM, PON и с использованием медной линии связи</li>
                            <li>
                                Организация каналов передачи данных с использованием технологии Ethernet с последней милей от оператора связи
                            </li>
                        </ul>
                    </li>
                    <li>Разработка, внедрение систем информирования о состоянии охраняемых объектов</li>
                    <li>
                        Предоставление абонентам услуг информирования о состоянии охраняемых объектов (SMS-информирование, авто-информирование, специализированное программное обеспечение и т.п.)
                    </li>
                </ol>
            </div>
        </div>
        <a href="#" class="pop-up__btn pop-up-directions__btn desktop">Перейти на сайт</a>
    </div>
</div>

<div class="pop-up pop-up-carer ">
    <div class="pop-up__content-wrapper">
        <div class="pop-up__wrapper pop-up__header">
            <div class="clearfix">
                <a href="#" class="js-close-pop pull-right pop-up__close"></a>
                <div class="pop-up__name pull-left">
                    Карьера в компании
                </div>
            </div>
            <h3 class="pup-st-title">Обучение</h3>
        </div>
        <img src="uploads/pop-up-person-1.jpg" alt="management person" class="pop-up__img">
        <div class="pop-up__wrapper pup-nw">
            <p class="normal-txt">Наша команда и знания всех её участников — важные факторы успеха компании, поэтому мы стремимся вкладываться в развитие своих сотрудников. Наши специалисты постоянно проходят дополнительное обучение: посещают тренинги, семинары и магистерские
                програм
            </p>
            <div class="pop-up__person-text">
                <p>
                    Думаю, каждый человек стремится к постоянному развитию и самосовершенствованию. У каждого из нас свой жизненный опыт, большинство рабочих навыков мы получаем именно из него, так как на обучение в специализированных заведениях не всегда находим время и
                    деньги. Приятно, что «Росохрана» заботится о своих сотрудниках и дает им уникальную возможность пройти курс обучения за счет компании у профессионалов своего дела!
                </p>
                <p class="text-r">Павел Половников</p>
                <p class="text-l">Директор по обслуживанию клиентов</p>

            </div>
            <p class="normal-txt">Большое внимание мы уделяем внутреннему обучению: наставничество более опытных коллег подчас дает больше действительно необходимых знаний в практической сфере, чем любое учебное заведение.</p>
            <div class="pop-up__person-text">
                <p>
                    Возможность поделиться своими знаниями и навыками, пропустив их через призму требований коллег, представляет для меня особую ценность. Ведь чем компетентнее коллеги, тем приятнее нашим клиентам будет с нами работать. Во время обучения многие из них проявляют
                    себя как любознательные, незаурядные и, самое главное, заинтересованные слушатели. Мне очень приятно, что наша компания заботиться о развитии каждого члена коллектива, что, в конечном счете, обязательно должно положительно отразиться
                    в нашей деятельности.
                </p>
                <p class="text-r">Павел Осмоловский</p>
                <p class="text-l">Руководитель отдела эксплуатации и развития сети</p>
            </div>
        </div>
        <img src="uploads/pop-up-person-2.jpg" alt="management person" class="pop-up__img">
        <div class="pop-up__wrapper pup-nw">
            <div class="pop-up__person-text">
                <p>
                    Безусловно, мы заинтересованы в профессиональном росте и развитии своих сотрудников. Именно их мы рассматриваем в первую очередь, когда встает вопрос об открытии нового направления или образовании новой руководящей позиции в компании.
                </p>
                <p class="text-r">Плотников Евгений</p>
                <p class="text-l">Первый заместитель генерального директора</p>
            </div>
        </div>
        <div class="pop-up__wrapper pop-up__news">
            <a href="#" class="pop-up__btn ">Вакансии</a>
        </div>
    </div>
</div>

<div class="pop-up pop-up-profes ">
    <div class="pop-up__content-wrapper">
        <div class="pop-up__wrapper pop-up__header">
            <div class="clearfix">
                <a href="#" class="js-close-pop pull-right pop-up__close"></a>
                <div class="pop-up__name pull-left">
                    Принципы Сотрудничества
                </div>
            </div>
            <div class="pop-up__title">
                Обратная связь
            </div>
            <div class="pop-up__sub-title">
                Пожалуйста, укажите контактные данные, чтобы мы могли связаться с Вами.
            </div>
        </div>
        <div class="pop-up__wrapper pop-up__form">
            <form action="" class="pop-up__callback js-form">
                <div class="form-group">
                    <input type="text" name="firstName" placeholder="Имя">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <input type="text" name="lastName" placeholder="Фамиилия">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" class="js-phone-mask" placeholder="+7(___) ___-__-__">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Электронная почта...">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <input type="file" hidden="" class="input-file">
                    <a href="" class="add_rezum">Добавить резюме</a>
                </div>
                <div class="form-group">
                    <textarea name="text" rows="6" cols="40" placeholder="Письмо"></textarea>
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group captcha-wrapper">
                    <img src="uploads/captcha.jpg" alt="">
                </div>
                <button type="submit" class="btn-rect no-border" name="button">Отправить письмо </button>
            </form>
        </div>
    </div>
</div>


<div class="pop-up pop-up-management ">
    <div class="pop-up__content-wrapper">
        <div class="pop-up__wrapper pop-up__header">
            <div class="clearfix">
                <a href="#" class="js-close-pop pull-right pop-up__close"></a>
                <div class="pop-up__name pull-left">
                    Руководство
                </div>
            </div>
        </div>
        <img src="uploads/pop-up-person.jpg" alt="management person" class="pop-up__img">
        <div class="pop-up__wrapper">
            <div class="pop-up__person-name">
                Евгений Сергеевич
                <br> Плотников
            </div>
            <div class="pop-up__person-position">
                Первый заместетитель генерального директора
            </div>
            <div class="pop-up__person-text">
                <p>
                    Мы много работали, не жалея ни сил ни времени, старались, реализовывали свои идеи, для того, чтобы создать нужный обществу, эффективный продукт, новое решение в сфере безопасности.
                </p>
                <p>
                    Многие идеи были отложены, другие кардинально трансформировались под воздействием современных требований пользователей.
                </p>
                <p>
                    И вот сейчас наша компания входит в число лидеров рынка безопасности.
                </p>
                <p>
                    Чтобы добиться успеха, нужно делать то, что полезно людям.
                </p>
                <p>
                    Мы делаем продукт, который эффективно и надежно работает,
                    <br> которым можно гордиться.
                </p>
                <p>
                    Наша компания строится на принципах патриотизма и справедливости.
                </p>
            </div>
        </div>
        <div class="pop-up__wrapper pop-up__news">
            <div class="pop-up__news-title">Упоминания в новостях и публикации</div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="#" class="news__img-wrapper">
                        <img src="uploads/news-1.jpg" alt="news preview">
                    </a>
                    <div class="news__date">18 марта 2016</div>
                    <a href="#" class="news__preview">
                ГК «Росохрана» на международной выставке технических средств охраны в Москве
            </a>
                </div>
                <div class="col-sm-6">
                    <a href="#" class="news__img-wrapper">
                        <img src="uploads/news-2.jpg" alt="news preview">
                    </a>
                    <div class="news__date">14 марта 2016
                    </div>
                    <a href="#" class="news__preview">
                Поддержка спорта: ГК «Росохрана» на чемпионате по смешанным единоборствам
            </a>
                </div>
            </div>
            <a href="#" class="pop-up__btn ">Смотреть все</a>
        </div>
    </div>
</div>


<div class="pop-up pop-up-certificates ">
    <div class="pop-up__content-wrapper">
        <div class="pop-up__wrapper pop-up__header">
            <div class="clearfix">
                <a href="#" class="js-close-pop pull-right pop-up__close"></a>
                <div class="pop-up__name pull-left">
                    Лицензии и сертификаты
                </div>
            </div>
        </div>
        <div class="certificates-slider-wrapper grey-bg">
            <div class="certificates-slider">
                <img src="uploads/certificates-big-1.jpg" alt="certificate">
                <img src="uploads/certificates-big-2.jpg" alt="certificate">
                <img src="uploads/certificates-big-3.jpg" alt="certificate">
                <img src="uploads/certificates-big-3.jpg" alt="certificate">
                <img src="uploads/certificates-big-1.jpg" alt="certificate">
                <img src="uploads/certificates-big-2.jpg" alt="certificate">
                <img src="uploads/certificates-big-3.jpg" alt="certificate">
                <img src="uploads/certificates-big-3.jpg" alt="certificate">
            </div>
        </div>
        <div class="pop-up__wrapper certificate-info-main">
            <div class="certificate-info-slider">
                <div class="certificate-info">
                    <div class="certificate-info__name">
                        Лицензия №78-Б/00162
                    </div>
                    <div class="certificate-info__text">
                        На осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сообружений
                    </div>
                    <a href="#" class="btn-rect blue no-border download">Скачать документ</a>
                </div>
                <div class="certificate-info">
                    <div class="certificate-info__name">
                        Лицензия №78-Б/00163
                    </div>
                    <div class="certificate-info__text">
                        На осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сообружений
                    </div>
                    <a href="#" class="btn-rect blue no-border download">Скачать документ</a>
                </div>
                <div class="certificate-info">
                    <div class="certificate-info__name">
                        Лицензия №78-Б/001623
                    </div>
                    <div class="certificate-info__text">
                        На осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сообружений
                    </div>
                    <a href="#" class="btn-rect blue no-border download">Скачать документ</a>
                </div>
                <div class="certificate-info">
                    <div class="certificate-info__name">
                        Лицензия №78-Б/001624
                    </div>
                    <div class="certificate-info__text">
                        На осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сообружений
                    </div>
                    <a href="#" class="btn-rect blue no-border download">Скачать документ</a>
                </div>
                <div class="certificate-info">
                    <div class="certificate-info__name">
                        Лицензия №78-Б/0016311
                    </div>
                    <div class="certificate-info__text">
                        На осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сообружений
                    </div>
                    <a href="#" class="btn-rect blue no-border download">Скачать документ</a>
                </div>
                <div class="certificate-info">
                    <div class="certificate-info__name">
                        Лицензия №78-Б/0016244
                    </div>
                    <div class="certificate-info__text">
                        На осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сообружений
                    </div>
                    <a href="#" class="btn-rect blue no-border download">Скачать документ</a>
                </div>
                <div class="certificate-info">
                    <div class="certificate-info__name">
                        Лицензия №78-Б/0016355
                    </div>
                    <div class="certificate-info__text">
                        На осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сообружений
                    </div>
                    <a href="#" class="btn-rect blue no-border download">Скачать документ</a>
                </div>
                <div class="certificate-info">
                    <div class="certificate-info__name">
                        Лицензия №78-Б/0016266
                    </div>
                    <div class="certificate-info__text">
                        На осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сообружений
                    </div>
                    <a href="#" class="btn-rect blue no-border download">Скачать документ</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pop-up pop-up-cooperation">
    <div class="pop-up__content-wrapper">
        <div class="pop-up__wrapper pop-up__header">
            <div class="clearfix">
                <a href="#" class="js-close-pop pull-right pop-up__close"></a>
                <div class="pop-up__name pull-left">
                    Принципы Сотрудничества
                </div>
            </div>
            <div class="pop-up__title">
                Обратная связь
            </div>
            <div class="pop-up__sub-title">
                Пожалуйста, укажите контактные данные, чтобы мы могли связаться с Вами.
            </div>
        </div>
        <div class="pop-up__wrapper pop-up__form">
            <form action="" class="pop-up__callback js-form">
                <div class="form-group">
                    <input type="text" name="firstName" placeholder="Имя">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <input type="text" name="lastName" placeholder="Фамиилия">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" class="js-phone-mask" placeholder="+7(___) ___-__-__">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Электронная почта...">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <textarea name="text" rows="6" cols="40" placeholder="Письмо"></textarea>
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group captcha-wrapper">
                    <img src="uploads/captcha.jpg" alt="">
                </div>
                <button type="submit" class="btn-rect no-border" name="button">Отправить письмо </button>
            </form>
        </div>
    </div>
</div>


<div class="pop-up pop-up-mail ">
    <div class="pop-up__content-wrapper">
        <div class="pop-up__wrapper pop-up__header">
            <div class="clearfix">
                <a href="#" class="js-close-pop pull-right pop-up__close"></a>
                <div class="pop-up__name pull-left">
                    Контакты
                </div>
            </div>
            <div class="pop-up__title">
                Написать письмо
            </div>
            <div class="pop-up__sub-title">
                Пожалуйста, укажите контактные данные, чтобы мы могли
                <br>связаться с Вами
            </div>
        </div>
        <div class="pop-up__wrapper pop-up__form">
            <form action="" class="pop-up__callback js-form">
                <div class="form-group">
                    <input type="text" name="firstName" placeholder="Имя">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Электронная почта...">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" class="js-phone-mask" placeholder="+7(___) ___-__-__">
                    <div class="form-group__icon"></div>
                </div>
                <div class="form-group">
                    <textarea name="text" rows="6" cols="40" placeholder="Сопроводительное письмо..."></textarea>
                    <div class="form-group__icon"></div>
                </div>
                <button type="submit" class="btn-rect no-border" name="button">Отправить письмо </button>
            </form>
        </div>
    </div>
</div>

<div class="pop-up pop-up-com-mob ">
    <div class="pop-up__content-wrapper">
        <div class="pop-up__wrapper pop-up__header">
            <div class="clearfix">
                <a href="#" class="js-close-pop pull-right pop-up__close"></a>
                <div class="pop-up__name pull-left">
                    Проекты
                </div>
            </div>
            <div class="pop-up__title">
                Системы безопасности образовательных учреждений
            </div>
        </div>
        <div class="project-open container">
            <span class="projects-list__town">
                Санкт-Петербург
        </span>
            <div class="project-open__img-with-title">
                <img src="uploads/projects-1.jpg" alt="project main image" class="project-open__img">
                <div class="project-open__img-sub-title">
                    Подпись к фотографии, её описание
                </div>
            </div>
            <div class="project-open__text">
                <p>
                    ГК «Росохрана» особое внимание уделяет обеспечению безопасности детей. На сегодня в большинстве государственных образовательных учреждениях города нами смонтированы системы тревожной сигнализации, которые обеспечивают немедленное реагирование полиции
                    на тревожные сообщения. Более 2 500 детских садов, школ, техникумов уже находятся под круглосуточной защитой ГК «Росохрана».
                </p>
            </div>

            <div class="project-open__slider">
                <div class="slider-dft">
                    <img src="uploads/project-slide-2.jpg" alt="project image">
                    <img src="uploads/project-slide-2.jpg" alt="project image">
                    <img src="uploads/project-slide-2.jpg" alt="project image">
                    <img src="uploads/project-slide-2.jpg" alt="project image">
                    <img src="uploads/project-slide-2.jpg" alt="project image">
                </div>
            </div>

            <div class="project-open__list">
                <div class="project-open__list-title">
                    Уже сегодня:
                </div>

                <ol>
                    <li>В круглосуточном режиме (24/7) построена и функционирует служба дежурных операторов единого диспетчерского центра.
                    </li>
                    <li>В режиме «non stop» ведётся мониторинг и обработка информации с огромного количества камер видеонаблюдения и комплексов технических средств охраны. Система построена таким образом, что позволяет в постоянном режиме отслеживать все
                        изменения, касающиеся безопасности объектов.
                    </li>
                    <li>Используются все современные технологии защиты периметра, созданы многоступенчатые рубежи охраны.
                    </li>
                    <li>На автоматизированных рабочих местах (АРМ) на практике применяются технологии тепловидения, интеллектуального видеонаблюдения и систем безопасности объектов.
                    </li>
                    <li>Создана Служба оперативного контроля. В основу положена система двойного реагирования: безопасность выполняют группы задержания Полиции и ГК «РОСОХРАНА». Специальная подготовка и регулярные тренировки обеспечивают круглосуточное немедленное
                        реагирование на любые нештатные ситуации.
                    </li>
                    <li>Экипажи групп быстрого реагирования участвуют не только в отработках тревожных сообщений, но и занимаются предупреждением и профилактикой возможных правонарушений.
                    </li>
                    <li>Профессиональное обучение, тренировки, подкрепление теоретических знаний практической подготовкой, отличная физическая форма и внешний вид создают безупречный имидж сотрудников ГК «РОСОХРАНА», положительно влияющий на обеспечение безопасности
                        таких крупных и сложных объектов, как ПО «Киришинефтеоргсинтез».
                    </li>
                    <li>
                        По принципу немедленного реагирования выстроена также система работы технических подразделений и служб, ответственных за бесперебойную работу оборудования.
                    </li>
                </ol>
            </div>

            <div class="project-open__img-dft">
                <img src="uploads/project-open-2.jpg" alt="">
            </div>
            <div class="project-open__text">
                <div class="project-open__list">

                    <ol>
                        <li>В круглосуточном режиме (24/7) построена и функционирует служба дежурных операторов единого диспетчерского центра.
                        </li>
                        <li>В режиме «non stop» ведётся мониторинг и обработка информации с огромного количества камер видеонаблюдения и комплексов технических средств охраны. Система построена таким образом, что позволяет в постоянном режиме отслеживать
                            все изменения, касающиеся безопасности объектов.
                        </li>
                        <li>Используются все современные технологии защиты периметра, созданы многоступенчатые рубежи охраны.
                        </li>
                        <li>На автоматизированных рабочих местах (АРМ) на практике применяются технологии тепловидения, интеллектуального видеонаблюдения и систем безопасности объектов.
                        </li>
                        <li>Создана Служба оперативного контроля. В основу положена система двойного реагирования: безопасность выполняют группы задержания Полиции и ГК «РОСОХРАНА». Специальная подготовка и регулярные тренировки обеспечивают круглосуточное
                            немедленное реагирование на любые нештатные ситуации.
                        </li>
                        <li>Экипажи групп быстрого реагирования участвуют не только в отработках тревожных сообщений, но и занимаются предупреждением и профилактикой возможных правонарушений.
                        </li>
                        <li>Профессиональное обучение, тренировки, подкрепление теоретических знаний практической подготовкой, отличная физическая форма и внешний вид создают безупречный имидж сотрудников ГК «РОСОХРАНА», положительно влияющий на обеспечение
                            безопасности таких крупных и сложных объектов, как ПО «Киришинефтеоргсинтез».
                        </li>
                        <li>
                            По принципу немедленного реагирования выстроена также система работы технических подразделений и служб, ответственных за бесперебойную работу оборудования.
                        </li>
                    </ol>
                </div>

            </div>
            <div class="sell-b">
                <h3 class="sell-b__title">Поделиться</h3>
                <ul class="sell-b__list">
                    <li class="sell-b__item"><a href="" class="sell-b__link">Вконтакте</a></li>
                    <li class="sell-b__item"><a href="" class="sell-b__link">Живой журнал</a></li>
                    <li class="sell-b__item"><a href="" class="sell-b__link">Фейсбук</a></li>
                    <li class="sell-b__item"><a href="" class="sell-b__link">Гугл плюс</a></li>
                    <li class="sell-b__item"><a href="" class="sell-b__link">Твиттер</a></li>
                    <li class="sell-b__item"><a href="" class="sell-b__link">Переслать на почту</a></li>
                </ul>
                <a href="" class="sell-b__doc">Распечатать</a>
            </div>
        </div>
    </div>
</div>
