<div class="page-header container">
    <div class="page-header__category"><a href="projects.html">проекты</a> / санкт-петербург</div>
    <h1 class="page-header__current-category projects-open-title margin">Защита предприятий ТЭК: Производственное <br> объединение «Киришинефтеоргсинтез»</h1>
</div>

<div class="project-open container">
    <div class="project-open__img-with-title">
        <img src="uploads/project-open-1.jpg" alt="project main image" class="project-open__img">
        <div class="project-open__img-sub-title">
            Подпись к фотографии, её описание
        </div>
    </div>
    <div class="project-open__text">
        <p>
            ООО «КИНЕФ» крупнейший нефтеперерабатывающий завод на Северо-Западе России. С 1966 года Киришский
            <br> нефтеперерабатывающий завод является основным поставщиком нефтепродуктов для Санкт-Петербурга, Ленинградской,
            <br> Новгородской и Псковской областей. На опасном и стратегически важном для всего Северо-Запада производстве вопросам
            <br> безопасности уделяют повышенное внимание.
        </p>
        <p>
            С ноября 2016 года ГК «РОСОХРАНА» реализует задачи комплексной безопасности на предприятии ПО «КИРИШИНЕФТЕОРГСИНТЕЗ». В целях обеспечения высокого качества услуг проведён анализ факторов влияющих на обеспечение безопасности предприятия.
        </p>
        <p>
            В основу проведения анализа положен принцип выявления возможных недостатков, оценка степени их влияния на состояние безопасности объектов предприятия, а также разработка и реализация мероприятий, направленных на построение единой политики службы мониторинга
            единого диспетчерского центра (ЕДЦ), служб реагирования (ПОЛИЦИЯ и РОСОХРАНА) и оперативных служб технической поддержки, монтажа и сервиса.
        </p>
    </div>

    <div class="project-open__slider">
        <div class="slider-dft">
            <img src="uploads/project-slide-1.jpg" alt="project image">
            <img src="uploads/project-slide-1.jpg" alt="project image">
            <img src="uploads/project-slide-1.jpg" alt="project image">
            <img src="uploads/project-slide-1.jpg" alt="project image">
            <img src="uploads/project-slide-1.jpg" alt="project image">
        </div>
    </div>

    <div class="project-open__list">
        <div class="project-open__list-title">
            Уже сегодня:
        </div>

        <ol>
            <li>В круглосуточном режиме (24/7) построена и функционирует служба дежурных операторов единого диспетчерского центра.
            </li>
            <li>В режиме «non stop» ведётся мониторинг и обработка информации с огромного количества камер видеонаблюдения и комплексов технических средств охраны. Система построена таким образом, что позволяет в постоянном режиме отслеживать все изменения,
                касающиеся безопасности объектов.
            </li>
            <li>Используются все современные технологии защиты периметра, созданы многоступенчатые рубежи охраны.
            </li>
            <li>На автоматизированных рабочих местах (АРМ) на практике применяются технологии тепловидения, интеллектуального видеонаблюдения и систем безопасности объектов.
            </li>
            <li>Создана Служба оперативного контроля. В основу положена система двойного реагирования: безопасность выполняют группы задержания Полиции и ГК «РОСОХРАНА». Специальная подготовка и регулярные тренировки обеспечивают круглосуточное немедленное
                реагирование на любые нештатные ситуации.
            </li>
            <li>Экипажи групп быстрого реагирования участвуют не только в отработках тревожных сообщений, но и занимаются предупреждением и профилактикой возможных правонарушений.
            </li>
            <li>Профессиональное обучение, тренировки, подкрепление теоретических знаний практической подготовкой, отличная физическая форма и внешний вид создают безупречный имидж сотрудников ГК «РОСОХРАНА», положительно влияющий на обеспечение безопасности
                таких крупных и сложных объектов, как ПО «Киришинефтеоргсинтез».
            </li>
            <li>
                По принципу немедленного реагирования выстроена также система работы технических подразделений и служб, ответственных за бесперебойную работу оборудования.
            </li>
        </ol>
    </div>

    <div class="project-open__img-dft">
        <img src="uploads/project-open-2.jpg" alt="">
    </div>
    <div class="project-open__text">
        <p>
            Далее, наряду с уже выполненными планами, намечен ряд важных мероприятий, направленных на стандартизацию и модернизацию оборудования и выработку таких процедур обслуживания технических средств охраны, которые закладывают основу системного подхода к обеспечению
            надёжности всех ТСО на длительный период времени, а совмещение ответственности за реагирование, мониторинг и техническое обслуживание объекта в рамках ГК «РОСОХРАНА» даёт преимущество одной точки ответственности за безопасность предприятия
            в целом.
        </p>

    </div>
</div>
