<div class="page-header container">
    <div class="page-header__category">Сотрудничество /</div>
    <h1 class="page-header__current-category">Проекты</h1>
    <div class="page-header__sub-title target-margin">
        Специалисты ГК  «РОСОХРАНА» обеспечивают безопасность десятков тысяч государственных учреждений и коммерческих предприятий, от малого бизнеса до крупнейших компаний региона. Среди наших клиентов компании и организации  самого разного профиля и форм собственности,
        в том числе с жёсткими специальными требованиями и стандартами безопасности. Мы гордимся реализованными проектами и привыкли заявлять о себе делами. Наш опыт позволяет уверенно говорить о том, что нам «по плечу» любые задачи
    </div>
</div>

<div class="projects-list container">
    <div class="projects-list__title">
        раскрытие проектов
    </div>
    <div class="projects-list__row row">
        <a href="projects-open.html" class="col-sm-6 projects-list__item js-match-height">
            <span class="projects-list__town">
                Санкт-Петербург
            </span>
            <img src="uploads/projects-1.jpg" alt="projects image" class="projects-list__img">
            <span class="projects-list__name">
                Системы безопасности образовательных учреждений
            </span>
            <p class="projects-list__tt">Санкт-Петербург<span class="projects-list__tt-span">Новые системы безопасности на стратегических объектах Министерства обороны РФ</span></p>
        </a>

        <a href="projects-open.html" class="col-sm-6 projects-list__item js-match-height">
            <span class="projects-list__town">
                Санкт-Петербург
            </span>
            <img src="uploads/projects-2.jpg" alt="projects image" class="projects-list__img">
            <span class="projects-list__name">
                Защита предприятий ТЭК: Производственное объединение «Киришинефтеоргсинтез»
            </span>
            <p class="projects-list__tt">Санкт-Петербург<span class="projects-list__tt-span">Новые системы безопасности на стратегических объектах Министерства обороны РФ</span></p>
        </a>

        <a href="projects-open.html" class="col-sm-6 projects-list__item js-match-height">
            <span class="projects-list__town">
                Санкт-Петербург
            </span>
            <img src="uploads/projects-3.jpg" alt="projects image" class="projects-list__img">
            <span class="projects-list__name">
                Системы безопасности образовательных учреждений
            </span>
            <p class="projects-list__tt">Санкт-Петербург<span class="projects-list__tt-span">Новые системы безопасности на стратегических объектах Министерства обороны РФ</span></p>
        </a>

        <a href="projects-open.html" class="col-sm-6 projects-list__item js-match-height">
            <span class="projects-list__town">
                Санкт-Петербург
            </span>
            <img src="uploads/projects-4.jpg" alt="projects image" class="projects-list__img">
            <span class="projects-list__name">
                Системы безопасности образовательных учреждений
            </span>
            <p class="projects-list__tt">Санкт-Петербург<span class="projects-list__tt-span">Новые системы безопасности на стратегических объектах Министерства обороны РФ</span></p>
        </a>
    </div>

    <div class="pagination">
        <ul class="clearfix">
            <li class="prev">
                <a href="#">
                    <svg>
                        <use xlink:href="#left" />
                    </svg>
                </a>
            </li>
            <li><a class="js-pop-up" data-pop="pop-up-com-mob" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="next">
                <a href="#">
                    <svg>
                        <use xlink:href="#right" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
