<div class="page-header page-header--publications container">
    <div class="page-header__category">Пресс-центр /</div>
    <h1 class="page-header__current-category">Публикации</h1>
    <div class="page-header__date-wrapper page-header__date-wrapper--publications clearfix">
        <div class="page-header__search page-header__search--date ">
            <form action="" class="page-header__form">
                <input type="text" class="page-header__search-input" placeholder="Поиск...">
                <input type="submit" name="name" value="" class="page-header__search-submit">
            </form>
        </div>
        <div class="page-header__date-select">
            <select name="" id="" class="js-select-styler">
                <option value=""></option>
                <option value="">Сентябрь 2016</option>
                <option value="">Август 2016</option>
                <option value="">Октябрь 2016</option>
                <option value="">Сентябрь 2016</option>
                <option value="">Август 2016</option>
                <option value="">Октябрь 2016</option>
                <option value="">Сентябрь 2016</option>
                <option value="">Август 2016</option>
                <option value="">Октябрь 2016</option>
            </select>
        </div>
        <div class="page-header__date-select">
            <select name="" id="" class="js-select-styler">
                <option value=""></option>
                <option value="">2016</option>
                <option value="">2015</option>
                <option value="">2014</option>
                <option value="">2013</option>
                <option value="">2016</option>
                <option value="">2015</option>
                <option value="">2014</option>
                <option value="">2013</option>
                <option value="">2016</option>
                <option value="">2015</option>
                <option value="">2014</option>
                <option value="">2013</option>
            </select>
        </div>
    </div>
</div>
<div class="news-main-wrapper  news-main-wrapper--publications">
    <div class="container">

                <div class="news-main-wrapper__news-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__news-title">
                        Новые системы безопасности на стратегических объектах Министерства обороны РФ
                    </a>

                </div>

                <div class="news-main-wrapper__news-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__news-title">
                        Масштабная модернизация оборудования тревожной сигнализации в учебных заведениях Санкт-Петербурга
                    </a>

                </div>

                <div class="news-main-wrapper__news-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__news-title">
                        Как тревожная кнопка в магазине помогает избежать многотысячных потерь
                    </a>

                </div>
                <div class="news-main-wrapper__news-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__news-title">
                        Новые системы безопасности на стратегических объектах Министерства обороны РФ
                    </a>

                </div>

                <div class="news-main-wrapper__news-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__news-title">
                        Масштабная модернизация оборудования тревожной сигнализации в учебных заведениях Санкт-Петербурга
                    </a>

                </div>

                <div class="news-main-wrapper__news-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__news-title">
                        Как тревожная кнопка в магазине помогает избежать многотысячных потерь
                    </a>

                </div>

    </div>
    <!-- <div class="pagination pagination--news-page">
        <ul class="clearfix">
            <li class="prev">
                <a href="#"></a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="next">
                <a href="#"></a>
            </li>
        </ul>
    </div> -->

    <div class="pagination pagination--news-page">
        <ul class="clearfix">
            <li class="prev">
                <a href="#">
                    <svg>
                        <use xlink:href="#left" />
                    </svg>
                </a>
            </li>
            <li><a class="js-pop-up" data-pop="pop-up-com-mob" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="next">
                <a href="#">
                    <svg>
                        <use xlink:href="#right" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
