<div class="page-header page-header--responsibility container">
    <h1 class="page-header__current-category">Социальная ответственность</h1>
    <div class="page-header__sub-title">
        <p>
            ГК «Росохрана» — социально ответственный бизнес. Деятельность в области безопасности имеет стратегическое значение и затрагивает интересы огромного количества людей.
        </p>
        <p>
            Мы внимательно относимся к интересам общества, всецело содействуем социально-экономическому развитию страны, устраняя угрозы государству, бизнесу, населению.
        </p>
    </div>
</div>

<div class="grey-bg target-section target-section--text-right">
    <div class="container">
        <div class="row">
            <div class="target-section__img target-section__img--responsibility pull-left">
                <img src="uploads/responsibility-1.jpg" alt="">
                <img src="uploads/responsibility-2.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Охрана
                    <br> образовательных
                    <br> учреждений
                </div>
                <div class="target-section__text">
                    <p>Самый значимый для нас социальный проект — внедрение комплексных систем безопасности в образовательных учреждениях Санкт-Петербурга: детских садах, школах, техникумах. Свыше 3 000 объектов оснащены оборудованием нового поколения, за
                        состоянием которого постоянно и приоритетно следят технические специалисты «Росохраны».
                    </p>
                    <p>
                        Служба мониторинга в непрерывном режиме курирует текущую ситуацию и при появлении тревожных сигналов незамедлительно передаёт их в районные подразделения УВО ГУ МВД РФ по Санкт-Петербургу и Ленинградской области, которые реагируют на них в рекордно низкие
                        сроки.
                    </p>
                </div>
                <div class="target-section__text-line">
                    Приоритетным проектом для моей команды является обеспечение оперативного реагирования полиции на тревожные сообщения из образовательных учреждений Санкт-Петербурга. От нас напрямую зависит уровень безопасности детей и педагогов, и ошибки здесь недопустимы.
                    Добиваться успеха, максимально сокращая время реагирования на тревожные сигналы, позволяет профессиональный подход к делу без директив, штрафов и наказаний — самостоятельно и качественно. Для меня главное — видеть, что проект, над
                    которым я работаю, нужен, важен и приносит реальную пользу обществу.
                    <div class="target-section__under-text">
                        <div class="target-section__name">Денис Сапожников</div>
                        <div class="target-section__position">Директор по специальным проектам</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="target-section target-section--text-left">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-right">
                <img src="uploads/responsibility-3.jpg" alt="">
            </div>
            <div class="target-section__info target-section--text-left__info pull-left ">
                <div class="target-section__title">
                    Помощь ветеранам
                </div>
                <div class="target-section__text">
                    ГК «Росохрана» реализует проекты, направленные на сохранение исторических ценностей нашей страны, поддерживая проведение праздников, приуроченных ко Дню Победы, и оказывая помощь ветеранам, в том числе ветеранам правоохранительных органов. Ежегодно ГК
                    «Росохрана» выступает одним из организаторов турнира памяти сотрудников УВО ГУ МВД РФ, погибших при исполнении служебных обязанностей.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grey-bg target-section target-section--text-right">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-left">
                <img src="uploads/responsibility-4.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Вовлечение молодёжи
                </div>
                <div class="target-section__text">
                    Благотворительная и спонсорская деятельность ГК «Росохрана» в сфере образования и спорта направлена на вовлечение молодёжи в созидательное культурное пространство и проявление в спортивных достижениях. Школьные соревнования, детские футбольные клубы и
                    открытые арт-проекты при поддержке ГК «Росохрана» имеют, помимо образовательной, непосредственную социальную направленность на пресечение правонарушений, детской преступности и борьбу с преступлениями в сфере незаконного оборота наркотиков.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="target-section target-section--text-left">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-right">
                <img src="uploads/responsibility-5.jpg" alt="">
            </div>
            <div class="target-section__info target-section--text-left__info pull-left ">
                <div class="target-section__title">
                    Забота о животных
                </div>
                <div class="target-section__text">
                    ГК «Росохрана» — один из попечителей Ленинградского зоопарка. На средства компании несколько лет содержится полярная сова — символ недремлющего государственного ока.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-sub-title footer-sub-title--responsibility grey-bg">
    <div class="container">
        <div class="row">
            <div class="footer-sub-title__text">В планах Группы компаний — поддержка существующих и участие в новых социальных проектах на благо общества и государства.</div>
        </div>
    </div>

</div>
