<div class="page-header container">
    <div class="page-header__category">О компании /</div>
    <h1 class="page-header__current-category">Стратегия и перспективы</h1>
    <div class="page-header__sub-title">
        Опыт ведения проектов, который вырос из идеи создания
        <br> оператора связи для организации безопасности, является
        <br> гарантией обеспечения клиентов ГК «Росохрана» рядом
        <br> высококачественных услуг, включая разработку долгосрочной
        <br> стратегии, проектирование инженерных решений и «умные
        <br> системы» безопасности.
    </div>
</div>

<div class="grey-bg target-section target-section--text-right strategy">
    <div class="container">
        <div class="row">
            <div class="strategy__img pull-left">
                <img src="uploads/strategy-1.jpg" alt="">
                <div class="strategy__slider">
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                40
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                88
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                15
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="strategy__info pull-left">
                <div class="target-section__title">
                    «Умные вещи» разумным клиентам
                </div>
                <div class="target-section__text">
                    Рынок IT развивается с неимоверной скоростью. Само слово «автоматизация» уже мало кого удивит. Инновации не обошли и сферу безопасности — все больше вопросов можно решить благодаря лишь одной кнопке, и мы видим в этом большие перспективы и возможности
                    для роста. В основе нового проекта компании «Умный дом» — идея комплексного продукта, обеспечивающего безопасность, который может позволить себе каждый житель России. Базовая комплектация продукта — это: HD-камера, датчики движения
                    и открытия дверей и окон, брелок для постановки и снятия объекта с охраны и GSM-модем. К системе могут быть подключены до 40 дополнительных датчиков: «умная» розетка, датчики протечки, дыма и тому подобное. Центральный блок управления
                    предоставляется бесплатно. «Умный дом» управляется через приложение для смартфона: клиент может управлять бытовыми приборами, настраивать отопление, но, самое важное, — благодаря этой системе можно всегда быть спокойным за безопасность
                    дома и близких. Спокойствие – вот идея, за которую выступает решение «Умный дом».

                </div>
                <div class="target-section__text-line">
                    <p>Среди представленных сегодня решений по обеспечению безопасности имущества, большинство требует существенных вложений: в оборудование, монтаж и настройку, в осуществление технической поддержки и организацию групп реагирования. </p>
                    <p>Поэтому «Умный дом» - это продолжение идеи «легкого» решения: легкого, в первую очередь, в установке — оно позволяет не только защитить имущество от кражи, но и от бытовых опасностей — утечки газа, пожара и пр. Продолжением этого проекта
                        стала идея создания оператора «умных услуг» – комплексного управления системой отопления, электроснабжения и прочими опциями, который каждый может регулировать в собственном доме. Наши компетенции в области обеспечения безопасности,
                        позволяют создать не только умный, но и безопасный дом.</p>
                    <div class="target-section__under-text">
                        <div class="target-section__name">Андрей Афанасьев</div>
                        <div class="target-section__position">Генеральный директор</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="target-section target-section--text-left strategy">
    <div class="container">
        <div class="row">
            <div class="strategy__img pull-right">
                <img src="uploads/strategy-2.jpg" alt="">
                <div class="strategy__slider">
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                40
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                88
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                15
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="strategy__info pull-left">
                <div class="target-section__title">
                    «Полный цикл» услуг безопасности: от проектирования
                    <br> до реагирования

                </div>
                <div class="target-section__text">
                    Современный рынок услуг безопасности меняется год от года. И это должно отражаться на динамике развития компании. Сегодня уже мало быть классическим частным охранным предприятием или предлагать только инжиниринговые системы безопасности — мы становимся
                    компанией, которая отвечает за полный цикл предоставляемой услуги: от проектирования систем безопасности до непосредственного реагирования на тревожные сигналы.

                </div>
                <div class="target-section__text-line">
                    Мы не просто хотим, мы берем на себя ответственность за весь цикл процесса, гарантируя клиенту, что вся отлаженная нами система надежна и будет работать безотказно, вне зависимости от обстоятельств. Мы будем компанией полного цикла: от сборки до задержания.
                    Это исключает большие количества лишних зон ответственности, которые в охране не нужны — мы будем отвечать за полную цепочку, в этом и есть уникальность.
                    <div class="target-section__under-text">
                        <div class="target-section__name">Андрей Афанасьев</div>
                        <div class="target-section__position">Генеральный директор</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grey-bg target-section target-section--text-right strategy">
    <div class="container">
        <div class="row">
            <div class="strategy__img pull-left">
                <img src="uploads/strategy-3.jpg" alt="">
                <div class="strategy__slider">
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                15
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                40
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                88
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="strategy__info pull-left">
                <div class="target-section__title">
                    Собственный
                    <br> программно-аппаратный комплекс со
                    <br> сборкой в России
                </div>
                <div class="target-section__text">
                    В продолжение идеи о развитии Группы компаний «Росохрана» как компании полного цикла, принято решение о создании собственного программно-аппаратного комплекса (ПАК) и его сборки на территории Российской Федерации. Современные технические решения в области
                    безопасности привязаны к различным программно-аппаратным комплексам и работают на базе самого разнообразного программного обеспечения (ПО). Главное условие — обязательная сертификация ПО в Министерстве внутренних дел Российской Федерации.
                    Изучив все предложения, на рынке, мы поняли, как можно их дополнить и существенно улучшить. Провести модернизацию не только интерфейса, но и самой структуры эксплуатации, сделав продукт привлекательным и удобным как для клиента, так
                    и для персонала, работающего в системе. Так родилась идея собственного программно-аппаратного комплекса, сочетающего, пожалуй, лучшее из возможного, в т.ч. и приятные ценовые характеристики — ведь часто нашим клиентам приходится производить
                    переоборудование объектов, а это может быть затратно. Сегодня мы ведем переговоры с МВД РФ и ожидаем подтверждения надежности и функциональности нашего продукта. Неслучайным стало и наше решение локализовать производство ПАК в России.

                </div>
                <div class="target-section__text-line">
                    С точки зрения охранного оборудования клиент больше доверяет отечественной сборке. Сборка за рубежом не редко вызывает вопросы у клиентов, и это понятно: покупая продукт иностранного производства, мы становимся зависимыми от соответствующей технической
                    поддержки и программного обеспечения зарубежного производителя, не имеем возможности модифицировать его под нужды заказчика. Наша идея в том, что программно-аппаратный комплекс, созданный в России, может легко адаптироваться под потребности
                    и задачи конкретного клиента. Надеюсь, что первый продукт для реализации мы произведем и представим в продажу уже в 2016 году.
                    <div class="target-section__under-text">
                        <div class="target-section__name">Андрей Афанасьев</div>
                        <div class="target-section__position">Генеральный директор</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="target-section target-section--text-left strategy">
    <div class="container">
        <div class="row">
            <div class="strategy__img pull-right">
                <img src="uploads/strategy-4.jpg" alt="">
                <div class="strategy__slider">
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                40
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                40
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__wrap">
                            <div class="slide__number">
                                40
                            </div>
                            <div class="slide__info">
                                дополнительных датчиков могут быть подключены
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="strategy__info pull-left">
                <div class="target-section__title">
                    Создание собственных сил
                    <br> реагирования для удобства наших клиентов


                </div>
                <div class="target-section__text">
                    Управление вневедомственной охраны ГУ МВД РФ по Санкт-Петербургу и Ленинградской области — наш ключевой, надежный и сильный партнер. Многолетняя работа с ним много дала и многому нас научила. Именно из этого опыта появилась идея о том, как усилить наше
                    партнерство, предоставив, вместе с этим, дополнительный комфорт клиентам. Решение лежало в области создания собственных групп оперативного реагирования. Ведь ввиду большого объема работы и территориального охвата, группы задержания
                    Отделов вневедомственной охраны не всегда могут приехать, например, в отдаленные районы Ленинградской области так быстро, как это нужно заказчику. И в этом вопросе, конечно, мы готовы пойти навстречу и предоставить собственные группы
                    для конкретной локации. В настоящее время уже создано несколько групп оперативного реагирования нашей компании. Организованы тренировочные базы, ведется подготовка и обучение специалистов. Среди сотрудников этих подразделений — профессионалы,
                    имеющие реальный опыт военной службы или службы в полиции.
                </div>
                <div class="target-section__text-line">
                    Это исключает большие количества лишних зон ответственности, которые в охране не нужны — мы будем отвечать за полную цепочку, в этом и есть уникальность.

                    <div class="target-section__under-text">
                        <div class="target-section__name">Андрей Афанасьев</div>
                        <div class="target-section__position">Генеральный директор</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-underline-title">
    <div class="container">
        <div class="footer-underline-title__text">Представленные нами планы развития являются долгосрочными,<br> но мы занимаемся их реализацией уже сейчас. Нам важно, <br> чтобы в этих проектах не просто были соблюдены обозначенные <br> сроки, но, гораздо важнее, чтобы каждая из этих идей обрела <br> зрелость и понравилась и была полезна нашим клиентам, <br> гарантировав не только обеспечение безопасности, <br> но и удовольствие от пользования конкретной услугой.</div>
    </div>
</div>
