<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="right">
        <path
            id="SvgjsPath1010"
            d="M900.341 1584L908.998 1575L900.341 1566 "
            fill-opacity="0"
            stroke-dasharray="0"
            stroke-linejoin="miter"
            stroke-linecap="butt"
            stroke-opacity="1"
            stroke-miterlimit="50"
            stroke-width="1"
            transform="matrix(1,0,0,1,-899.4729416167079,-1565.6533800336852)"></path>
    </symbol>

    <symbol id="left">
        <path
            id="SvgjsPath1007"
            d="M459.674 1566L451.00199999999995 1575L459.674 1584 "
            fill-opacity="0"
            stroke-dasharray="0"
            stroke-linejoin="miter"
            stroke-linecap="butt"
            stroke-opacity="1"
            stroke-miterlimit="50"
            stroke-width="1"
            transform="matrix(1,0,0,1,-450.47280261336766,-1565.6530684660154)"></path>
    </symbol>

</svg>
