<div class="page-header container">
    <div class="page-header__category">О компании /</div>
    <h1 class="page-header__current-category">Предназначение и ценности</h1>
    <div class="page-header__sub-title target-margin">
        Есть то, что объединяет всех сотрудников Группы компаний
        <br> «Росохрана», — это взгляды и принципы, которыми
        <br> мы руководствуемся каждый день. Это наши общие ценности.
    </div>
</div>

<div class="grey-bg target-section target-section--text-right">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-left">
                <img src="uploads/target-1.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Клиенты
                </div>
                <div class="target-section__text">
                    Безусловно, любой бизнес в первую очередь нацелен на рост и развитие. Но что помогает нам этого достигать на протяжении почти десяти лет работы? Забота и доверие — качества, на которых мы строим отношения со всеми, особенно с нашими клиентами. Ведь успех
                    к компании приходит благодаря им. Мы стремимся найти подход к каждому и постоянно совершенствуемся для того, чтобы наши клиенты были довольны!
                </div>
                <div class="target-section__text-line">
                    Очень хорошая, верная, интересная задача — создание чувства безопасности у клиента: и дома, и на улице, и на работе. Я полностью разделяю эту миссию, миссию энергичной, активной и амбициозной компании, в которой я работаю. Мы стремимся создать безупречный
                    сервис, отталкиваясь от того, что он должен начинаться с себя и построения безупречного взаимодействия внутри компании. Вместе с коллегами мы каждый день работаем над тем, чтобы получение клиентами услуг было максимально удобным и
                    комфортным
                    <div class="target-section__under-text">
                        <div class="target-section__name">Павел Половников</div>
                        <div class="target-section__position">Директор по работе с клиентами</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="target-section target-section--text-left">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-right">
                <img src="uploads/target-2.jpg" alt="">
            </div>
            <div class="target-section__info target-section--text-left__info pull-left ">
                <div class="target-section__title">
                    Сотрудники
                </div>
                <div class="target-section__text">
                    В успехе компании большую роль играет команда. И мы с гордостью можем сказать, что нам удалось собрать, пожалуй, лучших специалистов в различных сферах, таких как проектирование, продажи, техническое обслуживание, для того чтобы вместе достигать новых
                    высот в нашем бизнесе.
                </div>
                <div class="target-section__text-line ">
                    Самое ценное в нашей компании — это дружный коллектив профессионалов. Здесь все готовы оказать помощь друг другу, и не только в реализации сложнейших рабочих проектов, но и в частной жизни.
                    <div class="target-section__under-text">
                        <div class="target-section__name">Мария Брехова</div>
                        <div class="target-section__position">Руководитель отдела персонала</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grey-bg target-section target-section--text-right">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-left">
                <img src="uploads/target-3.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Храбрость
                </div>
                <div class="target-section__text">
                    В числе наших ценностей есть место такому прекрасному человеческому качеству, как храбрость. Мы ценим способность брать на себя ответственность за результат своего дела и смелость в принятии решений. Храбрость для нас — это преодоление страха перед неудачей,
                    способность не мириться с недостатками, а исправлять их, умение видеть возможности и воплощать их в жизнь.
                </div>
                <div class="target-section__text-line">
                    Храбрость всегда идет об руку с ответственностью и неравнодушным отношением к людям, к своему делу, настоящему и будущему. Для меня храбрость — это осознанная способность идти на риск во имя того, во что веришь и считаешь важным.
                    <div class="target-section__under-text">
                        <div class="target-section__name">Ольга Дубовская</div>
                        <div class="target-section__position">Директор по организационному развитию</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="target-section target-section--text-left">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-right">
                <img src="uploads/target-4.jpg" alt="">
            </div>
            <div class="target-section__info target-section--text-left__info pull-left ">
                <div class="target-section__title">
                    Партнёры
                </div>
                <div class="target-section__text">
                    Наряду с клиентами и сотрудниками, по дороге бизнеса мы идём рука об руку и с нашими партнёрами. Отношения с ними ценны для нас, и мы строим их на честности, доверии и обоюдной поддержке. Мы гордимся общими достижениями и всегда открыты для новых идей
                    и сотрудничества.
                </div>
                <div class="target-section__text-line ">
                    Если говорить об опыте нашей партнёрской работы, то всё, что мы сделали вместе с партнёрами, — это важные проекты. Никто этого не делал и не сделал бы, потому что многие компании до сих пор мыслят в разрезе сверхприбыли. Конечно, прибыль важна, но есть
                    нечто большее — желание сделать то, чем будешь по-настоящему гордиться.
                    <div class="target-section__under-text">
                        <div class="target-section__name">Андрей Афанасьев</div>
                        <div class="target-section__position">Генеральный директор</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grey-bg target-section target-section--text-right">
    <div class="container">
        <div class="row">
            <div class="target-section__img pull-left">
                <img src="uploads/target-5.jpg" alt="">
            </div>
            <div class="target-section__info pull-left">
                <div class="target-section__title">
                    Государство
                </div>
                <div class="target-section__text">
                    Мы — граждане России и убеждены, что только сильное государство обеспечивает уверенность в завтрашнем дне. И поэтому всё, что мы делаем, вся наша энергия, все наши знания направлены на то, чтобы мы все жили в развивающейся, крепкой и безопасной стране.
                </div>
                <div class="target-section__text-line">
                    Мне важно делать то, что полезно и нужно людям. Я люблю нашу страну, ценю и уважаю её историю и культуру, и глубоко убеждён, патриотизм не означает отстаивание интересов страны лишь военным способом. Защищать страну и её граждан можно, в том числе, активно
                    разрабатывая, производя и внедряя современные технологии и системы безопасности.
                    <div class="target-section__under-text">
                        <div class="target-section__name">Евгений Плотников</div>
                        <div class="target-section__position">Первый заместитель генерального директора</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-sub-title">
    <div class="container">
        <img src="images/logo-big.png" alt="" class="pull-right footer-sub-title__img">
        <div class="footer-sub-title__title">Предназначение</div>
        <div class="footer-sub-title__text">Создавать такие услуги и технологии, которые позволяют чувствовать себя в безопасности любому жителю Российской Федерации</div>
    </div>

</div>
