<div class="page-header container">
    <div class="page-header__search">
        <form action="" class="page-header__form">
            <input type="text" class="page-header__search-input" placeholder="Поиск...">
            <input type="submit" name="name" value="" class="page-header__search-submit">
        </form>
    </div>
    <div class="page-header__category">Пресс-центр /</div>
    <h1 class="page-header__current-category">Обзор обновлений</h1>
</div>

<div class="grey-bg latest-news">
    <div class="container">
        <div class="latest-news__date">20 января 2016</div>
        <div class="row">
            <a href="#" class="col-lg-6 latest-news__img">
                <img src="uploads/news-det-1.jpg" alt="news image">
            </a>
            <div class="col-lg-6">
                <a href="#" class="latest-news__title">ГК «Росохрана» на международной выставке технических средств охраны в Москве</a>
                <a href="#" class="latest-news__preview">На MIPS/Securika представлен широкий спектр современных технических средств охраны и оборудования для обеспечения безопасности и противопожарной защиты.</a>
            </div>
        </div>
    </div>
</div>

<div class="updates-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 updates-list__item">
                <div class="latest-news__date">20 января 2016</div>
                <a href="#" class="updates-list__img">
                    <img src="uploads/news-det-2.jpg" alt="news image">
                </a>
                <a href="#" class="updates-list__title">Поддержка спорта: ГК «Росохрана» на чемпионате по смешанным единоборствам</a>
                <a href="#" class="latest-news__preview">На MIPS/Securika представлен широкий спектр современных технических средств охраны и оборудования для обеспечения безопасности и противопожарной защиты.</a>
            </div>

            <div class="col-sm-6 updates-list__item">
                <div class="latest-news__date">8 марта 2016</div>
                <a href="#" class="updates-list__img">
                    <img src="uploads/news-det-3.jpg" alt="news image">
                </a>
                <a href="#" class="updates-list__title">Поздравляем наших самых прекрасных, обворожительных, удивительных, красивых женщин с 8 Марта!</a>
                <a href="#" class="latest-news__preview">На MIPS/Securika представлен широкий спектр современных технических средств охраны и оборудования для обеспечения безопасности и противопожарной защиты.</a>
            </div>
        </div>
    </div>
</div>

<div class="news-main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="news-main-wrapper__title">
                    Новости
                </div>

                <div class="news-main-wrapper__news-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__news-title">
                        Новые системы безопасности на стратегических объектах Министерства обороны РФ
                    </a>
                    <a href="#" class="news-main-wrapper__preview">
                        Накануне топ-менеджмент компании принял участие в форуме, главной темой которого стало обсуждение планов операторов связи Москвы и Санкт-Петербурга по действиям в новых условиях рынка.
                    </a>
                </div>

                <div class="news-main-wrapper__news-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__news-title">
                        Масштабная модернизация оборудования тревожной сигнализации в учебных заведениях Санкт-Петербурга
                    </a>
                    <a href="#" class="news-main-wrapper__preview">
                        Накануне топ-менеджмент компании принял участие в форуме, главной темой которого стало обсуждение планов операторов связи Москвы и Санкт-Петербурга по действиям в новых условиях рынка.
                    </a>
                </div>

                <div class="news-main-wrapper__news-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__news-title">
                        Как тревожная кнопка в магазине помогает избежать многотысячных потерь
                    </a>
                    <a href="#" class="news-main-wrapper__preview">
                        Накануне топ-менеджмент компании принял участие в форуме, главной темой которого стало обсуждение планов операторов связи Москвы и Санкт-Петербурга по действиям в новых условиях рынка.
                    </a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="news-main-wrapper__title">
                    Публикации
                </div>

                <div class="news-main-wrapper__publication-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__publication-title">Музей подводных сил России под надёжной охраной</a>
                </div>

                <div class="news-main-wrapper__publication-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__publication-title">Охранные структуры Петербурга объединяют возможности</a>
                </div>

                <div class="news-main-wrapper__publication-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__publication-title">Евгений Плотников: «К увеличению доли на рынке услуг безопасности мы полностью готовы»</a>
                </div>

                <div class="news-main-wrapper__publication-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__publication-title">Музей подводных сил России под надёжной охраной</a>
                </div>

                <div class="news-main-wrapper__publication-item">
                    <div class="news-main-wrapper__date">20 января 2016</div>
                    <a href="#" class="news-main-wrapper__publication-title">Охранные структуры Петербурга объединяют возможности</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="socials-list container">
    <div class="row">
        <div class=" col-sm-4">
            <div class="socials-list__item">
                <a href="#" class="socials-list__title twitter">
                    @rosohrana
                </a>
                <div class="socials-list__preview">
                    Накануне были завершены работы в <a href="#">@Газпром</a> по монтажу и пуско-наладочным работам <a href="#">#охранно-тревожных</a> систем.
                </div>

                <a href="#" class="btn-rect socials-list__btn">Подписаться</a>
            </div>
        </div>
        <div class=" col-sm-4">
            <div class="socials-list__item">
                <a href="#" class="socials-list__title facebook">
                    @rosohrana
                </a>
                <div class="socials-list__preview">
                    Накануне были завершены работы в <a href="#">@Газпром</a> по монтажу и пуско-наладочным работам <a href="#">#охранно-тревожных</a> систем.
                </div>

                <a href="#" class="btn-rect socials-list__btn">Подписаться</a>
            </div>
        </div>
        <div class=" col-sm-4">
            <div class="socials-list__item">
                <a href="#" class="socials-list__title vk">
                    @rosohrana
                </a>
                <div class="socials-list__preview">
                    Накануне были завершены работы в <a href="#">@Газпром</a> по монтажу и пуско-наладочным работам <a href="#">#охранно-тревожных</a> систем.
                </div>

                <a href="#" class="btn-rect socials-list__btn">Подписаться</a>
            </div>
        </div>
    </div>
</div>
