<div class="page-header container">
    <div class="a-vac">
        <div class="page-header__category">вакансии /</div>
        <h1 class="page-header__current-category lh-mod">Руководитель группы по работе с юридическими лицами</h1>
        <p class="page-header__town">санкт-петербург</p>
        <h3 class="a-vac__title">Что мы ждём от кандидата</h3>
        <ul class="a-vac-f">
            <li class="a-vac-f__item">На данной позиции мы хотим видеть специалиста с аналогичным опытом работы от 3 лет</li>
            <li class="a-vac-f__item">Важно: знание документооборота с юридическими лицами</li>
            <li class="a-vac-f__item">Опыт в организации работы по сбору дебиторской задолженности</li>
            <li class="a-vac-f__item">Понимание принципов и правил обслуживания клиентов</li>
            <li class="a-vac-f__item">Управленческий опыт и потенциал</li>
        </ul>
        <h3 class="a-vac__title">Какие задачи необходимо решить</h3>
        <ul class="a-vac-s">
            <li class="a-vac-s__item">Руководство группой менеджеров</li>
            <li class="a-vac-s__item">Организация процесса обслуживания клиентов, в соответствие с утвержденными стандартами и регламентами</li>
            <li class="a-vac-s__item">Формирование и выполнение планов по сбору дебиторской задолженности, по своей группе клиентов</li>
            <li class="a-vac-s__item">Решение конфликтных ситуаций с клиентами</li>
            <li class="a-vac-s__item">Контроль своевременности оформления документов с клиентами</li>
        </ul>
        <h3 class="a-vac__title">Какие задачи необходимо решить</h3>
        <ul class="a-vac-s">
            <li class="a-vac-s__item">Возможность решения интересных задач</li>
            <li class="a-vac-s__item">Работу в стабильно развивающейся Компании</li>
            <li class="a-vac-s__item">Интересную заработную плату: 45 т.р. оклад + премии по результатам работы 20 т.р.</li>
            <li class="a-vac-s__item">Офис располагается возле ст. м. Чкаловская</li>
            <li class="a-vac-s__item">ДМС после испытательного срока</li>
            <li class="a-vac-s__item">График работы: с понедельника по четверг с 09.00 до 18.00, в пятницу с 09.00 до 17.00</li>
            <li class="a-vac-s__item">Уютная кухня и комната отдыха, а также горячий чай и вкусный кофе</li>
        </ul>
        <div class="form-con-f">
            <p class="form-con-f__title">Контактное лицо:</p>
            <div class="form-con-f__imc"><img src="uploads/per-1-s.png" alt="" class="form-con-f__img"></div>
            <div class="form-con-f__n">
                <p class="form-con-f__name">Мария Брехова</p>
                <p class="form-con-f__vac">Руководитель отдела персонала</p>
            </div>
        </div>
        <div class="form-see">
        <p class="form-see__title">Откликнуться на вакансию</p>
    <div class="pop-up__form">
        <form action="" class="pop-up__callback js-form">
            <div class="form-group">
                <input type="text" name="firstName" placeholder="Имя">
                <div class="form-group__icon"></div>
            </div>
            <div class="form-group">
                <input type="text" name="lastName" placeholder="Фамиилия">
                <div class="form-group__icon"></div>
            </div>
            <div class="form-group">
                <input type="tel" name="phone" class="js-phone-mask" placeholder="+7(___) ___-__-__">
                <div class="form-group__icon"></div>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Электронная почта...">
                <div class="form-group__icon"></div>
            </div>
            <div class="form-group">
                <input type="file" hidden="" class="input-file">
                <a href="" class="add_rezum">Добавить резюме</a>
            </div>
            <div class="form-group">
                <textarea name="text" rows="6" cols="40" placeholder="Письмо"></textarea>
                <div class="form-group__icon"></div>
            </div>
            <div class="form-group captcha-wrapper">
                <img src="uploads/captcha.jpg" alt="">
            </div>
            <button type="submit" class="btn-rect no-border" name="button">Отправить письмо </button>
        </form>
    </div>
        </div>
    </div>
</div>
