<div class="page-header container">
    <div class="page-header__category">Карьера в компании /</div>
    <h1 class="page-header__current-category">Вакансии</h1>
    <p class="text-aft-head">Штат Группы компаний «Росохрана» постоянно пополняется новыми специалистами: развиваясь в своей сфере, мы открываем новые возможности роста не только для бизнеса, но и для людей. Именно поэтому мы приглашаем в команду тех, кто умеет ставить перед собой цели, стремится получать лучший из возможных результатов, готов брать и нести ответственность. 
        <span>Если это про вас — присоединяйтесь!</span>
    </p>
</div>

<div class="directions grey-bg">
    <div class="container">
        <div class="vacanc-title">Список вакансий</div>
        <div class="row directions__list">

            <a href="#" class="col-lg-6 col-md-6 vacanc-link-main js-match-height" data-pop="pop-up-directions">
                <span class="wrapper">
                    <span class="vacanc-link">Разработчик интеллектуальных систем</span>
                    <span class="vacanc-st">Санкт-Петербург</span>
                </span>
            </a>

            <a href="#" class="col-lg-6 col-md-6 vacanc-link-main js-match-height" data-pop="pop-up-directions">
                <span class="wrapper">
                    <span class="vacanc-link">Модератор Target со знанием английского языка</span>
                    <span class="vacanc-st">Санкт-Петербург</span>
                </span>
            </a>

            <a href="#" class="col-lg-6 col-md-6 vacanc-link-main js-match-height" data-pop="pop-up-directions">
                <span class="wrapper">
                    <span class="vacanc-link">Руководитель группы по работе с юридическими лицами</span>
                    <span class="vacanc-st">Санкт-Петербург</span>
                </span>
            </a>

            <a href="#" class="col-lg-6 col-md-6 vacanc-link-main js-match-height" data-pop="pop-up-directions">
                <span class="wrapper">
                    <span class="vacanc-link">Модератор Target со знанием английского языка</span>
                    <span class="vacanc-st">Санкт-Петербург</span>
                </span>
            </a>

            <a href="#" class="col-lg-6 col-md-6 vacanc-link-main js-match-height" data-pop="pop-up-directions">
                <span class="wrapper">
                    <span class="vacanc-link">Разработчик интеллектуальных систем</span>
                    <span class="vacanc-st">Санкт-Петербург</span>
                </span>
            </a>

            <a href="#" class="col-lg-6 col-md-6 vacanc-link-main js-match-height" data-pop="pop-up-directions">
                <span class="wrapper">
                    <span class="vacanc-link">Модератор Target со знанием английского языка</span>
                    <span class="vacanc-st">Санкт-Петербург</span>
                </span>
            </a>

        </div>
    </div>
</div>

<div class="container m-t-55">
    <h2 class="page-header__current-category corp-live-title">Хотите работать с нами, но не нашли <br> подходящей вакансии? </h2>
</div>

<div class="container corp-live-text">
    Заполните и отправьте свое резюме в кадровый резерв Группы компаний <br> «Росохрана». Как только у нас появится вакансия по интересующей <br> специальности, специалист Отдела персонала непременно свяжется с вами.
</div>

<div class="container corp-live-btn">
    <a href="#" class="btn-rect socials-list__btn">База профессионалов</a>
</div>