.b_footer {
    padding-top: 59px;
    padding-bottom: 55px;
    color: #fff;
    background: #151525;
    @media (max-width: $screen-md-max) {
        padding-top: 53px;
        padding-bottom: 15px;
    }
}
.footer-list {
    @media (max-width: $screen-md-max) {
        padding-left: 65px;
        padding-right: 65px;
    }
    @media (max-width: $screen-sm-max) {
        padding-left: 15px;
        padding-right: 15px;
    }
    &__email {
        color: #6699cc;
        font-size: 14px;
        font-family: $firasanslight;
        margin-top: 20px;
        display: none;
        @media (max-width: $screen-md-max) {
            display: block;
        }
    }
    &__item {
        @media (max-width: $screen-md-max) {
            margin-bottom: 20px;
        }
    }
    &__title {
        margin-bottom: 36px;
        letter-spacing: -0.3px;
        font-family: $firasanslight;
        font-size: 20px;
        @media (max-width: $screen-md-max) {
            margin-bottom: 32px;
        }
    }
    &__links {
        font-family: $firasanslight;
        font-size: 14px;
        line-height: 20px;
        ul {
            list-style-type: none;
            li {
                color: #b6bac4;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                a {
                    z-index: 1;
                    color: #b6bac4;
                    position: relative;
                    @media (max-width: $screen-md-max) {
                        margin-right: 32px;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__phone-detail {
        color: #575e6c;
        font-size: 14px;
        .desktop {
            @media (max-width: $screen-md-max) {
                display: none;
            }
        }
        .tablet {
            display: none;
            @media (max-width: $screen-md-max) {
                display: inline-block;
            }
        }
        @media (max-width: $screen-md-max) {
            display: inline-block;
        }
    }
}
.legal-info {
    position: relative;
    top: -22px;
    padding-bottom: 65px;
    color: #b6bac4;
    border-bottom: 1px solid #fff;
    font-family: $firasanslight;
    font-size: 14px;
    @media (max-width: $screen-md-max) {
        top: 0;
        margin-top: 25px;
        padding-bottom: 18px;
    }
    @media (max-width: $screen-sm-max) {
        > div {
            padding: 0;
        }
    }
    .btn-rect {
        margin-top: -14px;
        margin-left: 2px;
        transition: 0.2s ease;
        letter-spacing: 0.1px;
        color: rgba(255,255,255,0.5);
        border-color: rgba(255, 255, 255, 0.5);
        @media (max-width: $screen-md-max) {
            margin-top: 10px;
            margin-bottom: 20px;
        }
        &:hover {
            transition: 0.2s ease;
            color: #151525;
            background: #fff;
        }
    }
    &__text {
        padding-left: 6px;
    }
    &__social-btns {
        position: relative;
        top: -2px;
        padding-left: 9px;
        white-space: nowrap;
    }
    &__links {
        display: inline-block;
        transition: 0.2s ease;
        &:hover {
            opacity: 0.8;
            transition: 0.2s ease;
        }
        &:not(:last-child) {
            margin-right: 21px;
        }
        &.twitter {
            @include sprite($twitter);
            @include position(relative,-2px null null null);
        }
        &.fb {
            @include sprite($facebook);
        }
        &.vk {
            @include sprite($vk);
            @include position(relative,null null null 2px);
        }
    }
}
.copyright {
    margin-top: 19px;
    @media (max-width: $screen-md-max) {
        padding-left: 65px;
        padding-right: 65px;
        margin-top: 34px;
    }
    @media (max-width: $screen-sm-max) {
        padding-left: 0;
        padding-right: 0;
    }
    &__left {
        float: left;
        letter-spacing: -0.3px;
        color: #b4b8c2;
        font-size: 18px;
        @media (max-width: $screen-md-max) {
            float: none;
            margin-bottom: 5px;
            font-size: 16px;
            border-top: 1px solid #fff;
            padding-top: 36px;
            padding-bottom: 18px;
        }
        &:before {
            position: relative;
            top: -2px;
            left: 1px;
            display: inline-block;
            margin-right: 3px;
            content: '©';
            font-size: 15px;
        }
    }
    &__created-by {
        float: right;
        margin-top: 2px;
        margin-right: -3px;
        padding-right: 1px;
        letter-spacing: 0;
        @media (max-width: $screen-md-max) {
            float: none;
            margin-bottom: 15px;
        }
        .design,
        .develop {
            display: inline-block;
                color: rgba(255,255,255,0.4);
            @media (max-width: $screen-md-max) {
                margin-bottom: 10px;
            }
            a {
                transition: 0.2s ease;
                &:hover {
                    opacity: 0.5;
                    transition: 0.2s ease;
                }
            }
        }
        .design {
            margin-right: 31px;
            a {
                position: relative;
                top: -1px;
                // left: 2px;
                img {
                    position: relative;
                    top: 3px;
                    left: 0;
                    display: inline-block;
                    margin-right: 2px;
                }
                // &:hover {
                //     &:after {
                //         content: '';
                //         position: absolute;
                //         width: 100%;
                //         height: 1px;
                //         background: #fff;
                //         bottom: 0;
                //         left: 0;
                //     }
                // }
            }
        }
        .develop {
            a {
                position: relative;
                left: 2px;
                top: -3px;
                img {
                    position: relative;
                    top: 5px;
                    display: inline-block;
                    margin-right: 2px;
                }
                // &:hover {
                //     &:after {
                //         content: '';
                //         position: absolute;
                //         width: 100%;
                //         height: 1px;
                //         background: #fff;
                //         bottom: 0;
                //         left: 0;
                //     }
                // }
            }
        }
    }
}
// HACK:
.ie-10,
.ie-11,
.ie-edge {
    .b_footer {
        border-bottom: 1px solid #151525;
    }
}
