.ie-11 {
    .b_header {
        height: 80px;
    }
}
.ie-10 {
    .b_header {
        height: 51px;
    }
}
.ie-9 {
    .slider {
        z-index: 0;
    }
}
.b_header {
    position: relative;
    z-index: 3;
    border-bottom: 1px solid #f0f3f4;
    background: #fff;
    @media (max-width: $screen-lg-max) {
        z-index: 6;
        border-bottom: 1px solid #fff;
        height: 80px;
    }
    &__back {
        position: absolute;
        right: 258px;
        top: 29px;
        font-size: 14px;
        color: #999999;
        text-transform: uppercase;
        font-family: $firasansregular;
        display: none;
        @media (max-width: $screen-xs-max) {
            top: 30px;
            left: 34px;
        }
        &:before {
            position: absolute;
            left: -18px;
            top: 4px;
            content: '';
            background: url("../images/mob-arrow.svg") no-repeat;
            background-size: cover;
            @include size(7px,12px);
        }
        &:hover {
            transition: all 0.4s ease-in-out;
            color: #3399ff;
        }
    }
    .container {
        position: relative;
        @media(max-width: 768px) {
            position: static;
        }
    }
    .logo {
        @include position(absolute, -14px null null -160px);
        @media (max-width: 1400px) {
            left: -40px;
        }
        @media(max-width: $screen-lg-max) {
            left: 47px;
            top: 15px;
        }
        @media (max-width: $screen-md-max) {
            left: 15px;
            top: 15px;
        }
        @media (max-width: $screen-sm-max) {
            left: 15px;
        }
    }
    &__mob-menu-btn {
        display: none;
        width: 24px;
        height: 50px;
        span {
            position: relative;
            display: block;
            width: 100%;
            height: 2px;
            margin-top: 10px;
            transition: 0.3s ease;
            background: #000;
            &:after,
            &:before {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                content: '';
                transition: 0.3s ease;
                background: #000;
            }
            &:after {
                top: 6px;
            }
            &:before {
                top: -6px;
            }
        }
        @media (max-width: 768px) {
            display: block;
            position: absolute;
            right: 33px;
            top: 30px;
        }
        @media (max-width: $screen-sm-max) {
            margin-right: 0;
        }
        &.active {
            span {
                transition: 0.3s ease;
                background: transparent;
                &:before {
                    background: $blue;
                    transition: 0.3s ease;
                    transform: translate(0px,6px) rotate(-45deg);
                }
                &:after {
                    background: $blue;
                    transition: 0.3s ease;
                    transform: translate(0px, -6px) rotate(45deg);
                }
            }
        }
    }
    &__menu {
        margin-top: 29px;
        margin-left: 92px;
        @media (max-width: 1400px) {
            margin-left: 111px;
        }
        // @media (max-width: $screen-md-max) {
        //     margin: 0;
        // }
        @media (max-width: 1100px) {
            margin-top: 0;
            margin-left: 198px;
        }
        @media (max-width: $screen-md-max) {
            margin-left: 140px;
                white-space: nowrap;
        }
        > ul {
            > li {
                display: inline-block;
                padding-bottom: 25px;
                position: relative;
                &:not(:last-child) {
                    margin-right: 17px;
                }
                &.active-page {
                    > a {
                        position: relative;
                        color: $blue;
                        &:before {
                            @include position(absolute, null 0 -26px 50%);
                            width: 130%;
                            height: 2px;
                            margin: auto;
                            content: '';
                            transform: translateX(-50%);
                            background: $blue;
                        }
                        @media (max-width: $screen-md-max) {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
                a {
                    letter-spacing: -0.2px;
                    color: #333333;
                    font-family: $firasansmedium;
                    font-size: 14px;
                    &:hover {
                        transition: all 0.4s ease-in-out;
                        color: $blue;
                    }
                }
                &:hover {
                    > a {
                        color: $blue;
                    }
                    .b_header__dropdown {
                        left: 0;
                        opacity: 1;
                        transition: opacity 0.3s;
                    }
                }
                .b_header__dropdown {
                    position: absolute;
                    z-index: 1;
                    top: 48px;
                    display: block;
                    left: -999px;
                    max-width: 234px;
                    opacity: 0;
                    transition: opacity 0.3s;
                    width: 234px;
                    padding: 18px 25px 20px 19px;
                    list-style-type: none;
                    transform: translateX(-17px);
                    border-top: 3px solid $blue;
                    background: #f3f3f3;
                    li {
                        a {
                            letter-spacing: 0;
                        }
                        &:not(:last-child) {
                            margin-bottom: 8px;
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                position: absolute;
                z-index: 1;
                right: 0;
                top: 80px;
                display: none;
                width: 320px;
                background: #fff;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 11px;
                height: 100vh;
                overflow: hidden;
                li {
                    display: block;
                    margin-right: 0;
                    padding: 11px 0 10px;
                    // position: relative;
                    margin-right: 0;
                    border-bottom: 1px solid #ebebeb;
                    &:not(:last-child) {
                        margin-right: 0;
                        // border-bottom: 1px solid #ebebeb;
                    }
                    &.has-dropdown > a {
                        position: relative;
                        &:before {
                            position: absolute;
                            right: 15px;
                            top: -4px;
                            content: '';
                            background: url("../images/mob-arrow.svg") no-repeat;
                            background-size: cover;
                            @include size(7px,12px);
                            transform: rotateZ(180deg) translateY(-8px);
                        }
                        &:hover {
                            .b_header__dropdown {
                                // display: none;
                            }

                            .b_header__dropdown {
                                left: 0;
                                opacity: 1;
                                transition: opacity 0.3s;
                            }
                        }
                        &.active {
                            &:before {
                                transform: rotateZ(180deg);
                            }
                        }
                    }
                    .b_header__dropdown {
                        // position: static;
                        // display: none;
                        // width: 100%;
                        // max-width: 100%;
                        // margin-top: 13px;
                        // padding: 5px;
                        // transform: translateX(0px);
                        // border-top: none;
                        // background: #fff;
                        // li {
                        //     padding: 5px;
                        // }
                        width: 100%;
                        left: 0;
                        transform: translateX(100%);
                        top: 0;
                        background: #fff;
                        border-top: none;
                        z-index: 1;
                        max-width: none;
                        opacity: 1    ;
                        display: block;
                        transition: 0.5s ease;
                        height: 100vh;
                        &.visible {
                            transform: translateX(0%);
                            transition: 0.5s ease;
                        }
                    }
                }
                li {
                    a {
                        font-size: 18px;
                        font-family: $firasansregular;
                        width: 100%;
                        display: block;
                    }
                }
            }
            @media (max-width: $screen-md-max) {
                top: 80px;
            }
            @media (max-width: $screen-xs-max) {
                width: 100%;
            }
        }
    }
    &__search {
        display: block;
        background: #cacaca;
        // background: url("../images/search.svg") no-repeat;
        @include size(155px,30px);
        @include position(absolute,-3px -169px null null);
        @media (max-width: 1400px) {
            right: -60px;
            width: 130px;
        }
        @media(max-width: $screen-lg-max) {
            right: 0;
            top: 23px;
        }
        @media (max-width: $screen-md-max) {
            display: none;
        }
        // @media (max-width: $screen-md-max) {
        //     top: auto;
        //     right: 15px;
        //     bottom: 21px;
        // }
    }
    &__search-bar {
        width: 100%;
        height: 30px;
        padding-left: 6px;
        border: none;
    }
    &__search-submit {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
        background: url("../images/search.svg") no-repeat;
        background-size: 13px 13px;
        background-position: center center;
        outline: none;
        border: none;
        color: transparent;
        cursor: pointer;
    }
}
.slider {
    height: 500px;
    background: #cacaca;
    @media (max-width: $screen-sm-max) {
        height: 320px;
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 50%;
        // height: 100%;
        max-width: none;
        transform: translateX(-50%);
        width: 1920px;
        @media (max-width: $screen-sm-max) {
            height: 320px;
            width: auto;
        }
    }
    .slick-next,
    .slick-prev {
        position: absolute;
        top: 44%;
        width: 20px;
        height: 38px;
        margin-top: -10px;
        padding: 0;
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        font-size: 0;
        line-height: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
        &:hover {
            opacity: 0.6;
        }
    }
    .slick-prev {
        right: 975px;
        &:before {
            display: block;
            content: '';
            @include sprite($prev);
        }
        @media(max-width: 1000px) {
            right: 92%;
        }
    }
    .slick-next {
        left: 975px;
        &:before {
            display: block;
            content: '';
            @include sprite($next);
        }
        @media(max-width: 1000px) {
            left: 92%;
        }
    }
    @media(max-width: $screen-md-max) {
        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
    }
    .slick-list {
        height: 100%;
        .slick-track {
            height: 100%;
        }
    }
    .slick-dots {
        position: absolute;
        right: 0;
        bottom: 12px;
        left: 0;
        // margin: auto;
        text-align: center;
        li {
            display: inline-block;
            button {
                position: relative;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
                @include size(26px,26px);
                &:before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    content: '';
                    opacity: 0.5;
                    border-radius: 50%;
                    background: #fff;
                    @include size(10px,10px);
                }
            }
            &.slick-active {
                button {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__item {
        position: relative;
        object-fit: contain;
        overflow: hidden;
        &.slick-active {
            .slider__title {
                opacity: 1;
                transform: translateY(0);
                transition: 0.3s ease;
                transition-delay: 0.1s;
            }
            .slider__rect-btn {
                opacity: 1;
                transform: translateY(0);
                transition: 0.3s ease;
            }
            .slider__all-projects {
                opacity: 1;
                transform: translateY(0);
                transition: 0.3s ease;
                transition-delay: 0.5s;
            }
        }
    }
    &__text-wrapper {
        position: relative;
        z-index: 100;
        top: 39%;
        right: 0;
        left: 0;
        margin: auto;
        transform: translateY(-50%);
        text-align: center;
        @media (max-width: $screen-md-max) {
            top: 50.33%;
        }
    }
    &__title {
        margin-bottom: 48px;
        letter-spacing: -0.8px;
        color: #fff;
        font-family: $firasanslight;
        font-size: 50px;
        line-height: 55px;
        transform: translateY(100px);
        opacity: 0;
        @media (max-width: $screen-md-max) {
            margin-bottom: 32px;
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 36px;
            font-size: 24px;
            line-height: 32px;
            padding: 0 15px;
        }
    }
    &__rect-btn {
        display: block;
        margin: 0 auto 33px;
        padding-top: 13px;
        transition: 0.3s ease;
        letter-spacing: 0.7px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 2px;
        @include size(200px,50px);
        transform: translateY(100px);
        opacity: 0;
        @media (max-width: $screen-md-max) {
            padding-top: 11px;
        }
        &:hover {
            transition: 0.3s ease;
            color: #000;
            background: #fff;
        }
    }
    &__all-projects {
        color: #fff;
        font-family: $firasansregular;
        font-size: 16px;
        transform: translateY(100px);
        opacity: 0;
        &:before {
            display: inline-block;
            margin-right: 9px;
            content: '';
            background: url('../images/all-projects-icon.png') no-repeat;
            @include size(10px,10px);
        }
    }
}
@media (max-width: 1100px) {
    .b_header .container {
        max-width: 100%;
    }
    .b_header__menu > ul > li {
        padding-top: 25px;
    }
    .b_header__menu > ul > li a {
        font-size: 12px;
    }
    .b_header__menu > ul > li:not(:last-child) {
        margin-right: 5px;
    }
}
@media (min-width: 760px) and (max-width: 900px) {
    .b_header .logo {
        width: 130px;
    }
}
@media (max-width: 768px) {
    .b_header__menu {
        text-align: left;
    }
    .b_header__menu > ul > li a {
        font-size: 14px;
    }
    .b_header__menu > ul > li {
        padding-top: 10px;
    }
}
