.overlay {
    position: fixed;
    z-index: 4;
    display: none;
    opacity: 0.5;
    background: $lightgrey;
    @include size(100%,100%);
}
.pop-up {
    z-index: 7;
    display: none;
    width: 771px;
    min-height: 100vh;
    // padding: 31px 0 100px;
    transition: transform 0.3s ease;
    transform: translateX(110%);
    background: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    @include position(absolute, 0 0 null null);
    @media (max-width: $screen-md-max) {
        width: 750px;
    }
    @media (max-width: $screen-sm-max) {
        width: 100%;
    }
    .mCSB_inside > .mCSB_container {
        margin-right: 0;
    }
    &__content-wrapper {
        margin: 31px 0 100px;
        @media (max-width: $screen-sm-max) {
            margin: 20px 0 30px;
        }
    }
    &.active {
        display: block;
        transform: translateX(0%);
        transition: transform 0.1s ease;
        animation-timing-function: linear;
    }
    &__news-title {
        font-family: $firasanslight;
        font-size: 34px;
        line-height: 1.5;
        color: #363636;
        letter-spacing: -0.3px;
        margin-bottom: 45px;
        @media (max-width: $screen-sm-max) {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 40px;
        }
    }
    &__person-name {
        margin-bottom: 15px;
        color: #363636;
        font-family: $firasansregular;
        font-size: 34px;
        line-height: 46px;
        @media (max-width: $screen-sm-max) {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 25px;
        }
    }
    &__person-position {
        margin-bottom: 53px;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 16px;
        @media (max-width: $screen-sm-max) {
            margin-bottom: 30px;
        }
    }
    &__person-text {
        position: relative;
        padding-left: 31px;
        color: #0b1426;
        font-family: $firasanslightitalic;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 128px;
        @media (max-width: $screen-sm-max) {
            padding-left: 20px;
            margin-bottom: 90px;
        }
        &:before {
            // position: absolute;
            // top: -4px;
            // bottom: 0;
            // left: 0;
            @include position(absolute,-4px null 0 0);
            @include size(1px, 95.2%);
            // width: 1px;
            // height: 95.2%;
            margin: auto;
            content: '';
            background: #be0030;
            @media (max-width: $screen-sm-max) {
                top: 0;
                height: 100%;
            }
        }
        &:after {
            @include position(absolute, null null -85px 0);
            // position: absolute;
            // bottom: -85px;
            // left: 0;
            // width: 50px;
            // height: 1px;
            @include size(50px,1px);
            margin: auto;
            content: '';
            background: #cccccc;
            @media (max-width: $screen-sm-max) {
                width: 100%;
                bottom: -44px;
            }
        }
        p {
            margin-bottom: 16px;
        }
    }
    .certificates-slider-wrapper {
        padding-top: 35px;
        padding-left: 14px;
        padding-bottom: 75px;
        @media (max-width: $screen-sm-max) {
            padding-left: 7px;
            padding-right: 7px;
        }
        .certificates-slider {
            width: 578px;
            margin: 0 auto;
            @media (max-width: $screen-md-max) {
                width: 80%;
            }
            .slick-slider .slick-list,
            .slick-slider .slick-track {
                width: 100%;
            }
            .slick-dots {
                // position: absolute;
                // right: 0;
                // bottom: -48px;
                // left: 0;
                @include position(absolute, null 0 -48px 0);
                // margin: auto;
                text-align: center;
                li {
                    display: inline-block;
                    button {
                        position: relative;
                        cursor: pointer;
                        color: transparent;
                        border: 0;
                        outline: none;
                        background: transparent;
                        @include size(26px,26px);
                        &:before {
                            // position: absolute;
                            // top: 0;
                            // right: 0;
                            // bottom: 0;
                            // left: 0;
                            @include position(absolute, 0 0 0 0);
                            margin: auto;
                            content: '';
                            opacity: 0.3;
                            border-radius: 50%;
                            background: $blue;
                            @include size(10px,10px);
                        }
                    }
                    &.slick-active {
                        button {
                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .slick-next,
            .slick-prev {
                position: absolute;
                top: 49%;
                @include size(20px,38px);
                // width: 20px;
                // height: 20px;
                margin-top: -10px;
                padding: 0;
                cursor: pointer;
                color: transparent;
                border: none;
                outline: none;
                background: transparent;
                font-size: 0;
                line-height: 0;
            }
            .slick-prev {
                left: -78px;
                @media (max-width: $screen-md-max) {
                    left: -30px;
                }
                &:before {
                    display: block;
                    content: '';
                    @include sprite($blueprev);
                }
            }
            .slick-next {
                right: -71px;
                @media (max-width: $screen-md-max) {
                    right: -30px;
                }
                &:before {
                    display: block;
                    content: '';
                    @include sprite($bluenext);
                }
            }
        }
    }
    .certificate-info-main {
        padding-top: 49px;
    }
    .certificate-info {
        &__name {
            font-family: $firasanslight;
            font-size: 34px;
            line-height: 1.5;
            color: #333333;
            margin-bottom: 16px;
            letter-spacing: -0.5px;
        }
        &__text {
            font-family: $firasanslight;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            margin-bottom: 36px;
        }
        .btn-rect {
            width: 211px;
            padding-left: 19px;
            &:before {
                left: 20px;
                bottom: 2px;
            }
        }
    }
    &__wrapper {
        position: relative;
        padding: 0 80px;
        @media (max-width: $screen-xs-max) {
            padding: 0 15px;
        }
    }
    &__header {
        padding-bottom: 27px;
    }
    &__name {
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 14px;
    }
    &__close {
        position: relative;
        top: 0;
        right: 1px;
        @include sprite($close);
    }
    &__title {
        margin: 52px 0 63px;
        letter-spacing: 1px;
        color: #000;
        font-size: 34px;
        line-height: 46px;
        @media (max-width: $screen-md-max) {
            margin-bottom: 33px;
        }
        @media (max-width: $screen-xs-max) {
            margin: 20px 0;
            font-size: 20px;
            line-height: 26px;
        }
    }
    &__form {}
    &__callback {
        width: 450px;
        .input-file {
            opacity: 0;
            z-index: 10;
            width: 450px;
            height: 113px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;

        }
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
        input {
            width: 100%;
            border: 1px solid #e1e7e9;
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            padding-left: 23px;
            padding-right: 23px;
            font-family: $firasanslight;
            &.valid {
                & ~ .form-group__icon {
                    opacity: 1;
                    transition: 0.2s ease;
                }
            }
        }
        .form-group {
            position: relative;
            margin-bottom: 20px;
            &__icon {
                // position: absolute;
                // top: 50%;
                // right: 13px;
                @include position(absolute,50% 13px null null);
                @include sprite($checkgreen);
                transform: translateY(-50%);
                opacity: 0;
                transition: 0.2s ease;
            }
        }
        textarea {
            width: 100%;
            resize: vertical;
            border: 1px solid #e1e7e9;
            // padding-left: 23px;
            padding: 14px 23px;
            min-height: 190px;
        }
        input,
        textarea {
            font-family: $firasansregular;
            color: #424243;
            font-size: 16px;
            background-color: #f9f9f9;
            &:focus {
                border-color: $lightgrey;
                background: #fff;
            }
            &.error {
                border-color: red;
            }
            &::-webkit-input-placeholder {
                font-family: $firasanslight;
                color: #424243;
                font-size: 16px;
            }
            &::-moz-placeholder {
                font-family: $firasanslight;
                color: #424243;
                font-size: 16px;
            }
            /* Firefox 19+ */
            &:-moz-placeholder {
                font-family: $firasanslight;
                color: #424243;
                font-size: 16px;
            }
            /* Firefox 18- */
            &:-ms-input-placeholder {
                font-family: $firasanslight;
                color: #424243;
                font-size: 16px;
            }
        }
        .btn-rect {
            width: 100%;
            margin-left: 0;
            border: 1px solid $blue;
            color: $blue;
            background: #fff;
            cursor: pointer;
            transition: 0.2s ease;
            text-align: center;
            padding: 0;
            &:hover {
                background: $blue;
                color: #fff;
                transition: 0.2s ease;
            }
        }
        .captcha {
            margin-bottom: 20px;
        }
    }
    &__img {
        margin-bottom: 56px;
        width: 100%;
    }
    &__number-list {
        list-style-type: none;
        counter-reset: badass-counter;
        > li {
            position: relative;
            padding-left: 50px;
            color: #333333;
            font-family: $firasanslight;
            font-size: 16px;
            line-height: 24px;
            @media (max-width: $screen-sm-max) {
                padding-left: 20px;
            }
            &:not(:last-child) {
                margin-bottom: 24px;
            }
            &:before {
                position: absolute;
                top: -2px;
                left: 0;
                content: counter(badass-counter);
                counter-increment: badass-counter;
                color: #be0030;
                font-family: $firasansmedium;
                font-size: 16px;
            }
        }
    }
    &__dft-list {
        margin-top: 24px;
        list-style-type: none;
        li {
            position: relative;
            padding-left: 50px;
            @media (max-width: $screen-sm-max) {
                padding-left: 30px;
            }
            &:not(:last-child) {
                margin-bottom: 23px;
            }
            &:before {
                position: absolute;
                top: 7px;
                left: 5px;
                content: '';
                border-radius: 50%;
                background: $lightgrey;
                @include size(8px,8px);
            }
        }
    }
    &__btn {
        display: block;
        margin: 0 auto;
        transition: 0.2s ease;
        text-align: center;
        color: $blue;
        border: 1px solid $blue;
        font-size: 16px;
        line-height: 50px;
        @include size(210px,50px);
        &:hover {
            transition: 0.2s ease;
            color: #fff;
            background: $blue;
        }
        &.tablet {
            display: none;
            @media (max-width: $screen-md-max) {
                display: block;
            }
        }
        &.desktop {
            @media (max-width: $screen-md-max) {
                display: none;
            }
        }
    }
}
.pop-up-directions {
    &__btn {
        position: relative;
        left: -4px;
        margin-top: 57px;
        padding-top: 13px;
        padding-left: 5px;
        letter-spacing: 0.75px;
        line-height: normal;
        @media (max-width: $screen-md-max) {
            margin-top: 40px;
            margin-bottom: 35px;
        }
    }
    .pop-up__img {
        @media (max-width: $screen-md-max) {
            margin-bottom: 0;
        }
    }
}
.pop-up-management {
    .pop-up__img {
        margin-bottom: 51px;
    }
    .pop-up__btn {
        margin-left: 0;
        margin-left: 2px;
        margin-top: 32px;
        width: 288px;
        padding-right: 11px;
    }
}
.pop-up-cooperation {
    // display: block;
    // top: 0;
    // transform: translateX(0);
    .captcha-wrapper {
        margin-top: -8px;
        margin-bottom: 24px;
    }
    .pop-up__title {
        font-family: $firasanslight;
        color: #424243;
        margin: 35px 0 45px;
        letter-spacing: 0;
    }
    .pop-up__sub-title {
        width: 450px;
        font-size: 16px;
        line-height: 18px;
        font-family: $firasansregular;
        margin-bottom: 18px;
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }
}
.pop-up-com-mob {
    .projects-list__town {
        margin-bottom: 40px;
        display: block;
    }
    .project-open__img-with-title {
        width: 111%;
        margin-left: -15px;
        margin-right: -15px;
    }
    .sell-b {
        font-size: 0;
        border-top: 1px solid #ebebeb;
        &__item {
            list-style: none;
            width: 50%;
            display: inline-block;
        }
        &__link {
            font-family: "Fira-Sans-Light";
            color: #333333;
            font-size: 16px;
        }
        &__title {
            font-family: "Fira-Sans-Light";
            color: #333333;
            font-size: 24px;
            margin-bottom: 35px;
            margin-top: 40px;
        }
        &__doc {
            font-family: "Fira-Sans-Light";
            color: #333333;
            font-size: 16px;
            position: relative;
            display: block;
            margin-top: 40px;
            padding-left: 55px;
            &:before {
                content: url("../images/print.png");
                position: absolute;
                left: 0;
                top: -7px;
            }
        }
    }
}
.add_rezum {
    position: relative;
    text-align: center;
    border: 1px dashed #3399ff;
    display: block;
    padding: 43px;
    font-family: "Fira-Sans-Light";
    color: #3399ff;
    font-size: 16px;
    &:before {
        content: "";
        background: url("../uploads/add-ic.png");
        width: 20px;
        height: 16px;
        position: absolute;
        left: 27%;
        top: 47px;
    }
}
.pup-st-title {
    font-family: "Fira-Sans-Light";
    color: #000000;
    font-size: 34px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.normal-txt {
    font-family: "Fira-Sans-Light";
    color: #333333;
    font-size: 16px;
    margin-bottom: 54px;
}
.pop-up__person-text .text-r {
    font-family: "Fira-Sans-Regular";
    color: #333333;
    font-size: 16px;
    margin-bottom: 6px;
}
.pop-up__person-text .text-l {
    font-family: "Fira-Sans-Medium";
    color: #999999;
    font-size: 14px;
    margin-bottom: 16px;
}
.pup-nw .pop-up__person-text {
    &:after {
        content: none;
    }
    margin-bottom: 54px;
}
@media (max-width: 500px) {
    .add_rezum:before {
        left: 22%;
    }
}
@media (max-width: 400px) {
    .add_rezum:before {
        left: 18%;
    }
}
@media (max-width: $screen-sm-max) {
    .page-header__sub-title {
        margin-top: 40px;
        font-size: 16px;
        line-height: 24px;
    }
    .pop-up .certificate-info__name {
        font-size: 24px;
    }
}
.input-file {
    opacity: 0;
    z-index: 10;
    width: 450px;
    height: 113px;
}
