.main-person {
    margin-bottom: 62px;
    &__wrapper {
        background: #2c2c3a;
    }
    &__img {
        width: (610*100/930)+%;
        @media (max-width: $screen-md-max) {
            float: none;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    &__info {
        color: #fff;
        float: left;
        width: ((930-610)*100/930)+%;
        padding: 54px 32px 0;
        @media (max-width: $screen-md-max) {
            float: none;
            width: 100%;
            // margin-bottom: 10px;
            padding: 20px;
        }
    }
    &__name {
        font-family: $firasansregular;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 18px;
    }
    &__position {
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 16px;
        margin-bottom: 28px;
    }
    &__quote {
        position: relative;
        font-family: $firasanslightitalic;
        padding-left: 29px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 47px;
        @media (max-width: $screen-md-max) {
            width: 70%;
        }
        @media (max-width: $screen-xs-max) {
            width: 100%;
            br {
                display: none;
            }
        }
        &:before {
            content: '';
            width: 1px;
            height: 88%;
            background: #be0030;
            position: absolute;
            top: 0;
            left: -2px;
            bottom: 0;
            margin: auto;
        }
    }
    .btn-rect {
        margin-left: -2px;
        width: 210px;
        &:hover {
            background: #fff;
            color: #2c2c3a;
            transition: 0.2s ease;
        }
    }
}
.managment-list {
    padding-top: 58px;
    padding-bottom: 32px;
    @media (max-width: $screen-xs-max) {
        padding-top: 15px;
    }
    .row {
        @media (max-width: $screen-xs-max) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__wrapper {
        display: block;
        margin-bottom: 30px;
        background: #ffffff;
        &:hover {
            transition: 0.2s ease;
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
            background: #ffffff;
            .managment-list__name {
                transition: 0.2s ease;
                color: $blue;
                @media (max-width: $screen-md-max) {
                    margin-top: 0px;
                }
            }
            .managment-list__img-wrapper {
                img {
                    transition: opacity 0.2s ease;
                    opacity: 0.5;
                }
            }
        }
    }
    &__img-wrapper {
        float: left;
        width: 46.5%;
        display: block;
        background: $blue;
        @media (max-width: $screen-md-max) {
            width: 210px;
        }
        @media (max-width: $screen-xs-max) {
            display: none;
            width: 100%;
            float: none;
            img {
                width: 100%;
            }
        }
    }
    &__info {
        font-family: $firasansregular;
        font-size: 20px;
        float: left;
        width: ((451-210)*100/451)+%;
        padding: 62px 15px 0 30px;
        @media (max-width: $screen-xs-max) {
            padding: 55px 15px 45px 25px;
            float: none;
            display: block;
            width: 100%;
            br {
                display: none;
            }
        }
    }
    &__name {
        font-size: 1em;
        line-height: 26px;
        color: #363636;
        display: block;
        margin-bottom: 13px;
        @media (max-width: $screen-md-max) {
            margin-top: 0px;
        }
    }
    &__position {
        font-size: 0.7em;
        line-height: 20px;
        color: $lightgrey;
        display: block;
    }
}
.target-section {
    padding: 60px 0 68px;
    @media (max-width: $screen-sm-max) {
         padding: 45px 0 20px;
        .row {
            margin-right: 0;
            margin-left: 0;
        }
    }
    &__img {
        width: (545*100/960)+%;
        @media (max-width: $screen-md-max) {
            width: 100%;
            float: none;
            margin-bottom: 20px;
        }
        img {
            width: 100%;
        }

        &--responsibility{
            img{
                &:not(:last-child){
                    margin-bottom: 41px;
                }
            }
        }
    }
    &__info {
        padding: 0 27px;
        width: ((960-545)*100/960)+%;
        margin-top: -10px;
        @media (max-width: $screen-md-max) {
            width: 100%;
            float: none;
            margin-top: 0;
            padding: 0;
        }
    }
    &__title {
        font-size: 32px;
        line-height: 46px;
        color: #333333;
        letter-spacing: -0.3px;
        margin-bottom: 20px;
        @media (max-width: $screen-sm-max) {
            font-size: 24px;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        padding-left: 3px;
        letter-spacing: -0.1px;
        margin-bottom: 31px;
    }
    &__text-line {
        position: relative;
        z-index: 1;
        // width: 78%;
        padding-left: 32px;
        padding-right: 13px;
        letter-spacing: -0.5px;
        color: #333333;
        font-family: $firasanslightitalic;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: $screen-sm-max) {
            padding-left: 17px;
        }
        &:before {
            margin: auto;
            content: '';
            background: #d90d43;
            @include size(1px,97.3%);
            @include position(absolute,1px null 0 3px);
            @media (max-width: $screen-sm-max) {
               height: 100%;
               top: 0;
               left: 0;
            }
        }
    }
    &__name {
        color: #333333;
        font-family: $firasansmedium;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 2px;
    }
    &__under-text {
        margin-top: 23px;
        letter-spacing: 0;
        margin-left: 1px;
    }
    &__position {
        text-transform: lowercase;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 14px;
    }
}
.target-section {
    &--text-left {
        &__info {
            padding: 0 41px 0 13px;
            margin-top: -10px;
            @media (max-width: $screen-md-max) {
                width: 100%;
                float: none;
                margin-top: 0;
                padding: 0;
            }
        }
    }
}
.footer-sub-title {
    font-family: $firasanslight;
    color: #333333;
    font-size: 32px;
    padding: 46px 0 60px;
    &--responsibility {
        padding: 54px 0 118px;
        .row{
            @media (max-width: $screen-sm-max) {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .footer-sub-title__text {
            width: 79%;
        }
    }
    @media (max-width: $screen-sm-max) {
        font-size: 26px;
        padding: 25px 0 30px;
    }
    &__img {
        margin-right: 77px;
        margin-top: 13px;
        @media (max-width: $screen-md-max) {
            margin-right: 0;
        }
        @media (max-width: $screen-sm-max) {
            float: none;
            display: block;
            margin: 0 auto 20px;
        }
    }
    &__title {
        font-size: 1em;
        margin-bottom: 20px;
        width: 71%;
        @media (max-width: $screen-sm-max) {
            width: 100%;
            font-size: 24px;
        }
    }
    &__text {
        font-size: 0.75em;
        width: 71%;
        line-height: 34px;
        padding-left: 2px;
        @media (max-width: $screen-sm-max) {
            width: 100%;
            line-height: 24px;
            font-size: 20px;
            padding-right: 10px;
        }
    }
}
.strategy {
    padding: 81px 0 68px;
    &__img {
        width: (384*100/960)+%;
        @media (max-width: $screen-md-max) {
            width: 100%;
            float: none;
            margin-bottom: 20px;
        }
        img {
            width: 100%;
        }
    }
    &__info {
        width: ((960-384)*100/960)+%;
        padding: 0 30px;
        margin-top: -7px;
        @media (max-width: $screen-md-max) {
            width: 100%;
            float: none;
            margin-top: 0;
            padding: 0;
        }
        .target-section__title {
            font-size: 34px;
            line-height: 44px;
            margin-bottom: 25px;
        }
        .target-section__text {
            margin-bottom: 37px;
        }
    }
    &__slider {
        height: 290px;
        margin-top: 33px;
        .slide {
            position: relative;
            height: 290px;
            background: #2c2c3a;
            color: #fff;
            display: table;
            &__wrap {
                // position: absolute;
                // width: 58%;
                // left: -5px;
                // right: 0;
                // margin: auto;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                padding: 0 94px 24px 88px;
                // top: 50%;
                // transform: translateY(-58%);
                @media (max-width: $screen-md-max) {
                    padding: 15px;
                }
            }
            &__number {
                font-family: $opensanslight;
                font-size: 100px;
                line-height: 100px;
                margin-bottom: 13px;
            }
            &__info {
                font-family: $firasanslight;
                font-size: 16px;
                line-height: 28px;
            }
        }
        .slick-arrow {
            position: absolute;
            bottom: 24px;
            color: transparent;
            background: transparent;
            border: none;
            outline: none;
            left: -15px;
            right: 0;
            width: 34px;
            height: 34px;
            margin: auto;
        }
        .slick-prev {
            left: -47px;
            cursor: pointer;
            transition: .2s;
            &:hover{
                &:before{
                    opacity: 0.5;
                    transition: .2s;
                }
            }
            &:before {
                position: absolute;
                content: '';
                @include sprite($circleprev);
                z-index: 1;
                top: 0;
                left: 0;
            }
        }
        .slick-next {
            right: -50px;
            cursor: pointer;
            transition: .2s;
            &:hover{
                &:before{
                    opacity: 0.5;
                    transition: .2s;
                }
            }
            &:before {
                position: absolute;
                content: '';
                @include sprite($circlenext);
                z-index: 1;
                top: 0;
                left: 0;
            }
        }
    }
}
.footer-underline-title {
    font-family: $firasanslight;
    font-size: 24px;
    line-height: 34px;
    padding-top: 49px;
    padding-bottom: 43px;
    &__text {
        position: relative;
        width: 82%;
        &:before {
            content: '';
            position: absolute;
            top: -59px;
            left: 0;
            background: $lightgrey;
            height: 1px;
            width: 50px;
        }
    }
}
.history-list {
    padding-bottom: 35px;
    @media (max-width: $screen-xs-max) {
        padding-bottom: 10px;
    }
    ul {
        list-style-type: none;
    }
    li {
        margin-bottom: 41px;
        padding-left: 105px;
        position: relative;
        @media (max-width: $screen-xs-max) {
            padding-left: 0;
        }
    }
    &__img {
        margin-bottom: 34px;
        width: 100%;
        margin-top: 7px;
        @media (max-width: $screen-xs-max) {
            margin-bottom: 10px;
        }
    }
    &__text {
        position: relative;
        top: -7px;
    }
    &__year {
        color: #be0030;
        font-family: $firasansmedium;
        font-size: 16px;
        line-height: 16px;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: $screen-xs-max) {
            position: static;
            margin-bottom: 10px;
        }
    }
    p {
        font-family: $firasanslight;
        font-size: 16px;
        line-height: 28px;
        color: #0b1426;
        margin-bottom: 10px;
    }
}
.certificates {
    padding-bottom: 39px;

    &__img {
        @include aspect-ratio(210,280);
        display: block;
        border: 1px solid #e1e7e9;
        margin-bottom: 19px;
        &:before {
            @media (max-width: $screen-sm-max) {
                padding-top: 278px;
            }
        }
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            @media (max-width: $screen-xs-max) {
                margin-top: 4px;
                margin-bottom: 4px;
            }
        }
    }
    &__item {
        display: block;
        margin-bottom: 37px;
        transition: 0.2s ease;
        @media (max-width: $screen-sm-max) {
            margin-bottom: 50px;
        }
        &:hover {
            opacity: 0.5;
            transition: 0.2s ease;
        }
    }
    &__name {
        display: block;
        color: $blue;
        font-size: 16px;
        font-family: $firasansregular;
        margin-bottom: 5px;
    }
    &__period {
        font-size: 14px;
        font-family: $firasansmedium;
        color: #424243;
        letter-spacing: -.1px;
    }
}


@media (max-width: $screen-sm-max) {
   .pop-up-certificates .certificates-slider-wrapper .certificates-slider .slick-prev:before, .pop-up-certificates  .certificates-slider-wrapper .certificates-slider .slick-next:before {
    content: none;
   }
}
