.target-section__te {
    font-family: $firasanslight;
    color: #0b1426;
    font-size: 16px;
    width: 64%;
    margin: 25px 0;
    line-height: 24px;
    &-big {
        font-family: $firasanslight;
        color: #0b1426;
        font-size: 24px;
        width: 58%;
        margin-bottom: 36px;
        line-height: 34px;
    }
}
.greyline {
    height: 1px;
    width: 50px;
    background: #999999;
    margin-bottom: 54px;
}
.career-st {
    .target-section__te {
        width: 100%;
    }
    .socials-list__btn {
        margin-left: 0;
    }
    .corp-live-btn {
        padding-bottom: 69px;
    }
}
.n-rt {
    .target-section__info {
        width: 59.22917%;
    }
    .target-section__img {
        width: 38.77083%;
    }
}
.text-aft-head {
    font-family: $firasanslight;
    color: #999999;
    font-size: 24px;
    width: 90%;
    span {
        display: block;
        color: #be0030;
    }
    @media (max-width: $screen-sm-max) {
        margin-top: 40px;
        width: 100%;
    }
}
.vacanc-title {
    font-family: $firasansregular;
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
    @media (max-width: $screen-sm-max) {
        margin-bottom: 30px;
    }
}
.vacanc-link-main {
    position: relative;
    height: 180px;
    padding: 15px;
    box-sizing: border-box;
    &:hover .vacanc-link {
        color: #3399ff;
    }
}
.vacanc-link-main .wrapper {
    background: white;
    width: 100%;
    display: block;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    @media (max-width: $screen-xs-max) {
        padding: 15px 20px 24px 25px;
    }
}
.vacanc-link-main:hover .wrapper {
    transition: 0.2s ease;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}
.vacanc-link {
    font-family: $firasansregular;
    color: #363636;
    font-size: 20px;
    @media (max-width: $screen-xs-max) {
        line-height: 26px;
    }
}
.vacanc-st {
    font-family: $firasanslight;
    color: #999999;
    font-size: 16px;
    position: absolute;
    left: 35px;
    bottom: 35px;
    @media (max-width: $screen-xs-max) {
        left: 40px;
        bottom: 27px;
    }
    &:before {
        content: url("../uploads/comp-ic.png");
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}
.m-t-55 {
    margin-top: 55px;
}
.form-con-f {
    background: #f3f3f3;
    width: 370px;
    min-height: 140px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 60px 0;
    &__title {
        font-family: $firasansregular;
        color: #0b1426;
        font-size: 16px;
        line-height: 34px;
        margin-bottom: 10px;
        padding-left: 9px;
        text-transform: uppercase;
    }
    &__imc {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-block;
    }
    &__name {
        font-family: $firasansregular;
        color: #3399ff;
        font-size: 16px;
        line-height: 28px;
    }
    &__vac {
        font-family: $firasansregular;
        color: #999999;
        font-size: 16px;
        line-height: 28px;
    }
    &__n {
        width: 249px;
        display: inline-block;
        margin-left: 10px;
        position: relative;
        top: 10px;
    }
}
.form-see {
    background: #f3f3f3;
    padding: 43px 80px;
    .pop-up__callback .form-group {
        font-size: 0;
        input {
            background-color: #fff;
        }
    }
    &__title {
        font-family: $firasanslight;
        font-size: 34px;
        color: #424243;
        padding-bottom: 10px;
            margin-bottom: 35px;
    }
}
.a-vac {
    width: 600px;
    &__title {
        font-family: $firasanslight;
        color: #0b1426;
        font-size: 34px;
        margin-top: 40px;
        margin-bottom: 23px;
    }
    &-f {
        font-family: $firasanslight;
        color: #0b1426;
        font-size: 16px;
        line-height: 24px;
        &__item {
            // margin: 30px 0;
            margin-bottom: 20px;
            list-style: none;
            padding-left: 44px;
            position: relative;
            &:before {
                content: "";
                @include sprite($checkgreen);
                position: absolute;
                left: 0;
                top: -2px;
            }
        }
    }
    &-s {
        font-family: $firasanslight;
        color: #0b1426;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 23px;
        margin-top: 27px;
        &__item {
            margin-bottom: 20px;
            list-style: none;
            padding-left: 42px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                background: #999999;
                border-radius: 20px;
                left: 0;
                top: 7px;
            }
        }
    }
}
.pad-pap {
    padding: 30px 0;
}
@media (min-width: 200px) and (max-width: 1000px) {
    .n-rt {
        .target-section__info {
            width: 48%;
            float: left;
            margin-left: 10px;
        }
        .target-section__img {
            width: 48%;
            float: left;
        }
    }
}
@media (min-width: 200px) and (max-width: 800px) {
    .n-rt {
        .target-section__info {
            width: 100%;
            float: none;
            margin-left: 0;
        }
        .target-section__img {
            width: 100%;
            float: none;
        }
    }
    .greyline {
        margin-left: 10px;
    }
    .target-section__te {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        &-big {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
        }
    }
}
@media (min-width: 200px) and (max-width: 770px) {
    .vacanc-link-main {
        display: block;
    }
    .vacanc-link-main:nth-child(even) {
        display: none;
    }
    .a-vac {
        width: 100%;
    }
}
@media (min-width: 200px) and (max-width: 500px) {
    .text-aft-head {
        font-size: 14px;
        color: #999999;
        text-transform: uppercase;
        margin-top: 35px;
    }
    .a-vac__title {
        font-size: 20px;
    }
    .form-see {
        margin: -15px;
        padding: 16px 10px;
    }
    .form-see__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
}
@media (min-width: 200px) and (max-width: 500px) {
    .form-con-f {
        width: 100%;
    }
    .form-con-f__n {
        width: 65%;
        vertical-align: text-top;
    }
}
