.clearfix:after,.clearfix:before {
    content: '';
    display: table;
}

.left-con {
    width: 50%;
    float: left;
}
.smol-c {
    width: 485px;
    float: right;
}

.map {
    height: 760px;
}

.contact {
    &__city {
        text-transform: uppercase;
        font-family: "Fira-Sans-Regular", sans-serif;
        font-size: 15px;
        color: #000033;
        padding: 8px 19px 41px;
        letter-spacing: -0.03em;
    }
    &__plase {
        font-family: "Fira-Sans-Light", sans-serif;
        font-size: 16px;
        color: #3399ff;
        margin: 21px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.list-tel {
    margin: 43px 19px 35px;
    &__item {
        color: #999999;
        font-size: 16px;
        line-height: 28px;
        font-family: 'proximanova-regular';
        list-style: none;
        &-span {
            color: #0b1426;
            font-family: "Fira-Sans-Light", sans-serif;
            width: 160px;
            display: inline-block;
        }
    }
    &__link {
        font-family: "Fira-Sans-Light", sans-serif;
        font-size: 16px;
        color: #3399ff;
        &:hover {
            text-decoration: underline;
        }
    }
    &__bor-b {
        padding-left: 20px;
    }
}

.oun-room {
    font-family: "Fira-Sans-Light", sans-serif;
    font-size: 16px;
    color: #3399ff;
    padding-left: 20px;
    &__come {
        font-family: "Fira-Sans-Regular", sans-serif;
        font-size: 16px;
        color: #333333;
        padding-right: 2px;
    }
}

.abs-line {
    width: 50px;
    height: 1px;
    background: #999999;
    margin: 62px 20px 53px;
}

.left-contact-wrapper{
    padding: 0;

}

@media (max-width: 1000px) {
    .smol-c {
        width: 100%;
    }
    .left-con {
        width: 100%;
    }
    .map {
        width: 100%;
        height: 640px;
    }
 }

 @media  (max-width: 500px) {
    .contact__plase {
        display: block;
    }
    .list-tel__item-span {
        width: 130px;
    }
    .list-tel__bor-b .list-tel__item-span{
        display: none;
    }
    .abs-line, .oun-room{
        display: none;
    }
    .list-tel__bor-b {
       margin-bottom: 40px;
    }
 }
