.cooperation {
    .target-section__info {
        margin-top: 65px;
        @media (max-width: $screen-md-max) {
            margin-top: 0;
        }
    }
}
.numbers {
    padding-top: 86px;
    padding-bottom: 128px;
    background-color: #57575f;
    &__item {
        text-align: center;
        color: #fff;
    }
    &__title {
        margin-bottom: 14px;
        font-family: $firasanslight;
        font-size: 100px;
        line-height: 100px;
    }
    &__text {
        font-family: $firasanslight;
        font-size: 16px;
        line-height: 24px;
    }
}
.projects-list {
    padding-top: 17px;
    padding-bottom: 80px;
    span {
        display: block;
    }
    &__title {
        margin-bottom: 48px;
        text-transform: uppercase;
        color: $lightgrey;
        font-size: 14px;
        @media (max-width: $screen-sm-max) {
            font-size: 14px;
            line-height: normal;
            margin-bottom: 40px;
        }
    }
    &__item {
        margin-bottom: 50px;
        transition: .2s;

        &:hover{
            img{
                opacity: 0.8;
                transition: .2s;
            }

            .projects-list__name{
                color: $blue;
                transition: .2s;
            }
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 40px;
            display: block;
            padding: 0;
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 40px;
        }
        &:last-child {
            @media (max-width: $screen-sm-max) {
                border-bottom: none;
            }
        }
    }
    &__town {
        margin-bottom: 12px;
        text-transform: uppercase;
        color: $lightgrey;
        font-size: 14px;
    }
    &__name {
        font-family: $firasansmedium;
        font-size: 24px;
        line-height: 34px;
        color: #000;
        @media (max-width: $screen-md-max) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__img {
        width: 100%;
        margin-bottom: 14px;
    }
    &__row {
        margin-bottom: 16px;
        @media (max-width: $screen-sm-max) {
            margin: 0;
        }
    }
    &__tt {
        text-transform: uppercase;
        color: #999999;
        font-size: 14px;
        line-height: 29px;
        padding-top: 25px;
        display: none;
        & span {
            font-family: "Fira-Sans-Light", sans-serif;
            line-height: 24px;
            font-size: 16px;
            color: #333333;
            text-transform: none;
            padding-top: 25px;
        }
    }
}
.pagination {
    box-sizing: content-box;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #c1e0ff;
    &--news-page {
        margin: 61px auto 0;
    }
    @media (max-width: $screen-sm-max) {
        max-width: 250px;
    }
    ul {
        list-style-type: none;
        text-align: center;
        li {
            float: left;
            @include size(50px,50px);
            overflow: hidden;
            @media (max-width: $screen-sm-max) {
                 @include size(25px,30px);
            }
            a,
            span {
                display: block;
                padding-top: 2px;
                color: $blue;
                font-family: $firasanslight;
                font-size: 16px;
                line-height: 50px;
                @media (max-width: $screen-sm-max) {
                    line-height: 30px;
                }
                &:hover {
                    color: #fff;
                    background: #3399ff;
                }
            }
            &.active {
                color: #fff;
                background: $blue;
                a {
                    color: #fff;
                }
            }
        }
        .prev {
            a {
                svg {
                    // viewBox="0 0 10.05411676658423 18.693239932629695"
                    width: 10px;
                    height: 19px;
                    fill: $blue;
                    stroke: $blue;
                    position: relative;
                    top: 4px;
                }
                // display: block;
                // height: 100%;
                // background: url("../images/btn-arrow-blue-left.svg") no-repeat center center;

                &:hover{
                    svg{
                        fill: #fff;
                        stroke: #fff;
                    }
                }
            }
        }
        .next {
            a {
                svg {
                    // viewBox="0 0 10.05411676658423 18.693239932629695"
                    width: 10px;
                    height: 19px;
                    fill: $blue;
                    stroke: $blue;
                    position: relative;
                    top: 4px;
                }
                // display: block;
                // height: 100%;
                // background: url("../images/btn-arrow-blue-right.svg") no-repeat center center;
                &:hover{
                    svg{
                        fill: #fff;
                        stroke: #fff;
                    }
                }
            }
        }
    }
}
.projects-open-title {
    font-size: 34px;
    line-height: 46px;
    @media (max-width: $screen-sm-max) {
        font-size: 24px;
        line-height: 30px;
    }
}
.project-open {
    padding-bottom: 86px;
    &__img-with-title {
        position: relative;
        width: 770px;
        margin-bottom: 34px;
        padding-bottom: 8px;
        &:before {
            content: '';
            background-color: #e7e7e7;
            @include position(absolute, null null 0 0);
            @include size(79.3%,1px);
        }
        @media (max-width: $screen-md-max) {
            width: 100%;
            &:before {
                width: 100%;
            }
        }
    }
    &__img {
        width: 100%;
        margin-bottom: 9px;
    }
    &__img-sub-title {
        letter-spacing: -0.1px;
        color: $lightgrey;
        font-size: 14px;
        line-height: 24px;
    }
    &__text {
        margin-bottom: 63px;
        letter-spacing: -0.11px;
        color: #333;
        font-family: $firasanslight;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        p {
            margin-bottom: 24px;
        }
    }
    &__slider {
        margin-bottom: 30px;
        padding: 0 52px 43px;
        @media (max-width: $screen-sm-max) {
            padding: 0 0 43px;
        }
    }
    &__list-title {
        margin-bottom: 29px;
        color: #333;
        font-family: $firasansregular;
        font-size: 24px;
        line-height: 34px;
    }
    &__list {
        max-width: 550px;
        margin-bottom: 43px;
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
        ol {
            list-style-type: none;
            counter-reset: badass-counter;
            > li {
                position: relative;
                padding-left: 35px;
                color: #333333;
                font-family: $firasanslight;
                font-size: 16px;
                line-height: 24px;
                @media (max-width: $screen-sm-max) {
                    padding-left: 36px;
                }
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
                &:before {
                    position: absolute;
                    top: -2px;
                    left: 0;
                    content: counter(badass-counter);
                    counter-increment: badass-counter;
                    color: #be0030;
                    font-family: $firasansmedium;
                    font-size: 16px;
                    @media (max-width: $screen-sm-max) {
                        top: 0;
                    }
                }
            }
        }
    }
    &__img-dft {
        margin-bottom: 37px;
    }
}
.slider-dft {
    width: 610px;
}
.slider-dft {
    @media (max-width: $screen-md-max) {
        width: 80%;
        margin: 0 auto;
    }
    @media (max-width: $screen-sm-max) {
        width: 100%;
        // margin: 0 auto;
    }
    .slick-slider .slick-list,
    .slick-slider .slick-track {
        width: 100%;
    }
    .slick-dots {
        text-align: center;
        @include position(absolute, null 0 -41px 0);
        li {
            display: inline-block;
            button {
                position: relative;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
                @include size(26px,26px);
                &:before {
                    margin: auto;
                    content: '';
                    opacity: 0.3;
                    border-radius: 50%;
                    background: $blue;
                    @include position(absolute, 0 0 0 0);
                    @include size(10px,10px);
                }
            }
            &.slick-active {
                button {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .slick-next,
    .slick-prev {
        position: absolute;
        top: 45%;
        margin-top: -10px;
        padding: 0;
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        font-size: 0;
        line-height: 0;
        @include size(20px,38px);
    }
    .slick-prev {
        left: -51px;
        @media (max-width: $screen-md-max) {
            left: -30px;
        }
        &:before {
            display: block;
            content: '';
            @include sprite($blueprev);
        }
    }
    .slick-next {
        right: -51px;
        @media (max-width: $screen-md-max) {
            right: -30px;
        }
        &:before {
            display: block;
            content: '';
            @include sprite($bluenext);
        }
    }
}
@media (max-width: $screen-sm-max) {
    .projects-list .projects-list__town {
        display: none;
    }
    .projects-list__tt {
        display: block;
    }
}
