.slider {
	&__live {
		height: 600px;
		@media (max-width: $screen-xs-max) {
			height: 320px;
		}
	}
	&-corp-wrapper {
		top: 9.2%;
		text-align: left;
		transform: none;
	}
	&__breadcrams {
		color: #fff;
		font-size: 0.9em;
		text-transform: uppercase;
	}
	&__title-live {
		font-size: 40px;
		padding-top: 6px;
		letter-spacing: -0.6px;
	}
	&__description {
		width: 290px;
		border-top: #68696b solid 1px;
		padding-top: 13px;
		font-size: 16px;
		line-height: 24px;
		color: #ffffff;
		margin-top: 30.3%;
	}
}
.director {
	&__live {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;
		&:before {
			display: none;
		}
		@media (max-width: $screen-xs-max) {
			margin: 35px 15px;
		}
	}
}

.forgiv-st {
	font-family: "Fira-Sans-Light", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	border-bottom: 1px solid #999999;
	padding-bottom: 20px;
	margin: 0 16px;
	margin-top: 15px;
	display: none;
	@media (max-width: $screen-xs-max) {
		display: block;
	}
}

.corp-live {
	background: #f3f3f3;
	min-height: 420px;
	padding: 0;
	margin-bottom: 90px;
	@media (max-width: $screen-xs-max) {
		margin-bottom: 45px;
	}
	&__title {
		font-size: 34px;
		line-height: 46px;
		color: #0b1426;
		font-family: 'Fira-Sans';
		letter-spacing: 0.3px;
		padding-bottom: 22px;
		padding-right: 50px;
		@media (max-width: $screen-xs-max) {
			font-size: 24px;
			line-height: 30px;
			padding-right: 40px;
		}
	}
	&__left-wrap {
		font-family: 'Fira-Sans-Light';
		width: 50%;
		float: left;
		padding: 28px 50px 0 45px;
		font-size: 16px;
		line-height: 24px;
		@media (max-width: $screen-xs-max) {
			padding: 40px 15px;
		}
	}
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
	}
	&-title {
		text-align: center;
		color: #0b1426;
		font-size: 34px;
		line-height: 46px;
		padding-bottom: 20px;
		letter-spacing: 0.7px;
		@media (max-width: $screen-xs-max) {
			font-size: 24px;
    		line-height: 32px;
		}
	}
	&-text {
		color: #0b1426;
		font-size: 16px;
		line-height: 26px;
		padding-bottom: 40px;
		text-align: center;
		@media (max-width: $screen-xs-max) {
			font-size: 16px;
    		line-height: 26px;
    		padding-bottom: 30px
		}
	}
	&-btn {
		padding-bottom: 50px;
	}
	&__slide-wrap {
		width: 50%;
		float: left;
		overflow: hidden;
		height: 420px;
		&_top {
			height: 200px;
			overflow: hidden;
			.slick-track {
				height: 200px;
			}
			img {
				width: auto;
				height: 200px;
			}
		}
		&_bot {
			height: 220px;
			overflow: hidden;
			.slick-track {
				height: 220px;
			}
			img {
				width: auto;
				height: 200px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.corp-live {
		font-size: 16px;
		line-height: 20px;
		&__left-wrap {
			float: none;
			width: 100%;
			padding-bottom: 28px;
		}
		&__slide-wrap {
			float: none;
			width: 100%;
		}
		&__title {
			font-size: 26px;
			line-height: 30px;
		}
	}
}
