.director {
    position: relative;
    margin-top: 55px;
    margin-bottom: 49px;
    padding-bottom: 52px;
    &:before {
        content: '';
        background: #cccccc;
        @include position(absolute,null null 0 16px);
        @include size(50px,1px);
    }
    &__text {
        position: relative;
        z-index: 1;
        width: 78%;
        padding-left: 31px;
        letter-spacing: -0.5px;
        color: #333333;
        font-family: $firasanslightitalic;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: $screen-md-max) {
            float: none;
            width: 67%;
        }
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
        &:before {
            margin: auto;
            content: '';
            background: #d90d43;
            @include size(1px,92.9%);
            @include position(absolute,0 null 0 0);
            @media (max-width: $screen-xs-max) {
                height: 100%;
            }
        }
    }
    &__image {
        @include position(absolute,-21px 15px null null);
        @media (max-width: $screen-sm-max) {
            top: auto;
            bottom: 52px;
            // position: static;
            float: none;
        }
        @media (max-width: $screen-xs-max) {
            position: static;
            margin-bottom: 10px;
            text-align: center;
        }
    }
    &__name {
        color: #333333;
        font-family: $firasansmedium;
        font-size: 16px;
        line-height: 20px;
    }
    &__under-text {
        margin-top: 22px;
        letter-spacing: 0;
    }
    &__position {
        text-transform: lowercase;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 14px;
    }
}
$circle-size: 160px;
$circle-background: #e7e7e7;
$circle-color: #be0030;
$inset-size: 148px;
$inset-color: #fff;
$transition-length: 1s; // $shadow: 6px 6px 10px rgba(0,0,0,0.2);
$percentage-color: #be0030;
$percentage-font-size: 22px;
$percentage-text-width: 57px;
$i: 0;
$increment: 180deg / 100;
.radial-progress {
    width: $circle-size;
    height: $circle-size;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $circle-background;
    &.circle-left {
        margin: 0;
        @media (max-width: $screen-xs-max) {
            position: relative;
            margin: 0 auto;
            // left: -15px;
        }
    }
    &__info {
        margin-top: 15px;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 14px;
    }
    .circle {
        .fill,
        .mask,
        .shadow {
            position: absolute;
            width: $circle-size;
            height: $circle-size;
            border-radius: 50%;
        }
        .shadow {
            // box-shadow: $shadow inset;
        }
        .fill,
        .mask {
            transition: transform $transition-length 0.2s ease-in-out;
            border-radius: 50%;
        }
        .mask {
            clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
            .fill {
                clip: rect(0px, $circle-size/2, $circle-size, 0px);
                background-color: $circle-color;
            }
        }
    }
    .inset {
        position: absolute;
        width: $inset-size;
        height: $inset-size;
        margin-top: ($circle-size - $inset-size)/2;
        margin-left: ($circle-size - $inset-size)/2;
        // box-shadow: $shadow;
        text-align: center;
        border-radius: 50%;
        background-color: $inset-color;
        .percentage {
            position: absolute;
            top: 52.6%;
            right: 0;
            left: 0;
            // height: $percentage-font-size;
            // width: $percentage-text-width;
            overflow: hidden;
            margin: auto;
            transform: translateY(-50%) translateX(4px);
            font-family: $firasanslight;
            font-size: 48px;
            // top: ($inset-size - $percentage-font-size) / 2;
            // left: ($inset-size - $percentage-text-width) / 2;
            line-height: 1;
            span {
                font-size: 18px;
            }
            .numbers {
                margin-top: -$percentage-font-size;
                transition: width $transition-length;
                span {
                    display: inline-block;
                    width: $percentage-text-width;
                    text-align: center;
                    vertical-align: top;
                    color: $percentage-color;
                    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: $percentage-font-size;
                    font-weight: 800;
                }
            }
        }
    }
}
.legend {
    width: 174px;
    @include position(absolute,57px -2px null null);
    ul {
        list-style-type: none;
        li {
            position: relative;
            margin-bottom: 10px;
            b {
                position: absolute;
                right: 0;
            }
            &:before {
                display: inline-block;
                margin-right: 9px;
                content: '';
                border-radius: 50%;
                background: #e7e7e7;
                @include size(12px,12px);
            }
            &.red-circle {
                &:before {
                    background: #be0030;
                }
            }
        }
    }
    @media (max-width: $screen-md-max) {
        top: 54px;
        right: 24px;
        ul {
            li {
                font-size: 15px;
                margin-bottom: 6px;
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        position: static;
        margin: 0 auto 20px;
    }
}
.b_header__menu > ul > li .b_header__search {
    position: relative;
    width: 99%;
    border: 1px solid #ebebeb;
    display: block;
    margin: 13px 1px;
    height: 101%;
    padding: 0;
    display: none;
    &-bar {
        padding: 20px;
    }
    &-submit {
        top: 4px;
        right: 7px;
    }
}
@media (max-width: 768px) {
    .b_header__menu > ul li .b_header__dropdown.visible li:last-child {
        border-bottom: none;
    }
    .b_header__menu > ul > li .b_header__search {
        display: block;
    }
}
.statistics {
    position: relative;
    margin-bottom: 44px;
    padding-bottom: 64px;
    .row {
        position: relative;
    }
    &__right-title {
        position: absolute;
        top: 0;
        right: 0;
        color: #999999;
        font-size: 14px;
        text-transform: uppercase;
        @media (max-width: $screen-md-max) {
            top: 79px;
            right: 10vw;
        }
    }
    &:before {
        content: '';
        background: #cccccc;
        @include position(absolute,null null 0 16px);
        @include size(50px,1px);
    }
    @media (max-width: $screen-md-max) {
        padding: 30px 63px 63px;
        &:before {
            width: 100%;
            left: 0;
        }
    }
}
.diagram-items {
    @media (max-width: $screen-sm-max) {
        margin-bottom: 48px;
        padding-left: 15px;
    }
    &:nth-child(1) {
        @media (max-width: $screen-md-max) {
            padding-left: 0;
            position: relative;
            left: -2px;
        }
    }
    &:nth-child(2) {
        padding-left: 40px;
        .radial-progress {
            &__info {
                transform: translateX(7px);
            }
            .inset {
                .percentage {
                    transform: translateY(-50%) translateX(-2px);
                }
            }
        }
        @media (max-width: $screen-md-max) {
            padding-left: 42px;
            .radial-progress {
                &__info {
                    // transform: translateX(7px);
                    transform: translateX(-6px);
                }
            }
        }
        @media (max-width: $screen-sm-max) {
            width: 160px; // height: 160px;
            margin: 0 auto;
            padding-left: 0;
        }
    }
    &:nth-child(3) {
        .radial-progress {
            .inset {
                .percentage {
                    top: 58.6%;
                    b {
                        position: relative;
                        left: -12px;
                        font-size: 30px;
                        font-weight: 100;
                    }
                    span {
                        position: relative;
                        top: -4px;
                        left: -6px;
                        display: block;
                        font-size: 16px;
                    }
                }
            }
        }
        @media (max-width: $screen-md-max) {
            margin-top: 50px;
        }
    }
}
.news {
    padding-bottom: 40px;
    @media (max-width: $screen-md-max) {
        // padding-bottom: 30px;
        padding-left: 63px;
        padding-right: 63px;
        padding-bottom: 53px;
    }
    @media (max-width: $screen-sm-max) {
        padding: 38px 13px 8px;
    }
    .section-title {
        margin-bottom: 45px;
        @media (max-width: $screen-sm-max) {
            margin-bottom: 28px;
        }
    }
    &__item {
        margin-bottom: 30px;
        @media (max-width: $screen-sm-max) {
            margin-bottom: 33px;
        }
    }
    &__date {
        margin-bottom: 8px;
        text-transform: uppercase;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 14px;
    }
    &__preview {
        letter-spacing: 0.14px;
        color: #333333;
        font-family: $firasanslight;
        font-size: 16px;
        line-height: 24px;
        display: block;
        &:hover {
            transition: opacity 0.2s ease;
            opacity: 0.7;
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 45px;
        }
    }
    &__smi {
        background: #ebebeb;
    }
    &__img-wrapper {
        display: block;
        // overflow: hidden;
        margin-bottom: 20px;
        @include aspect-ratio(290,155);
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            @media (max-width: $screen-md-max) {
                width: 100%;
            }
        }
        &:hover {
            transition: opacity 0.2s ease;
            opacity: 0.7;
        }
    }
    &__smi-title {
        padding: 19px 15px 18px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 14px;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }
    &__smi-img {
        position: relative;
        overflow: hidden;
        height: 120px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        img {
            margin: auto;
            @include position(absolute, 0 0 0 0);
        }
    }
    &__smi-preview {
        display: block;
        padding: 28px 16px 31px;
        color: #333333;
        font-family: $firasanslight;
        font-size: 16px;
        line-height: 24px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.directions {
    padding-top: 45px;
    padding-bottom: 40px;
    @media (max-width: $screen-md-max) {
        padding-left: 63px;
        padding-right: 63px;
    }
    @media (max-width: $screen-sm-max) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 43px;
        .container {
            padding-left: 13px;
            padding-right: 13px;
        }
    }
    @media (max-width: $screen-xs-max) {
        padding-top: 38px;
        padding-bottom: 51px;
    }
    .section-title {
        margin-bottom: 45px;
        @media (max-width: $screen-sm-max) {
            margin-bottom: 36px;
        }
    }
    &__main-info {
        color: #333333;
        font-family: $firasansregular;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 7px;
        @media (max-width: $screen-md-max) {
            margin-top: -5px;
            margin-bottom: 30px;
            br {
                display: none;
            }
        }
        @media (max-width: $screen-sm-max) {
            padding-left: 18px;
            margin-bottom: 27px;
        }
        a {
            position: relative;
            color: $blue;
            &:hover {
                &:before {
                    content: '';
                    background: $blue;
                    @include position(absolute,null null 0 0);
                    @include size(100%,1px);
                }
            }
        }
    }
    &__items {
        // min-height: 320px;
        // height: 1px;
        display: block;
        margin-bottom: 30px;
        .wrapper {
            position: relative;
            display: block;
            height: 100%;
            min-height: 100%;
            transition: 0.2s ease;
            border-radius: 2px;
            background: #fff;
        }
        &:hover {
            .wrapper {
                transition: 0.2s ease;
                box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
                .directions__title {
                    transition: 0.2s ease;
                    color: $blue;
                }
                .directions__img-wrapper {
                    &:before {
                        transform: translateY(0);
                        transition: 0.2s ease;
                    }
                }
            }
        }
    }
    &__title {
        display: block;
        padding: 22px 25px 200px;
        transition: 0.2s ease;
        color: #363636;
        font-family: $firasansregular;
        font-size: 18px;
        line-height: 24px;
        @media (max-width: $screen-md-max) {
            // padding-bottom: 225px;
        }
        @media (max-width: $screen-sm-max) {
            padding-bottom: 33px;
        }
    }
    &__img-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: auto;
        background: $blue;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: $blue;
            transform: translateY(100%);
            opacity: 0.5;
            transition: 0.2s ease;
        }
        @media (max-width: $screen-sm-max) {
            // width: 100%;
            position: relative;
            display: block;
        }
        img {
            transition: opacity 0.2s ease;
            width: 100%;
            @media (max-width: $screen-sm-max) {
                width: 100%;
                // position: relative;
            }
        }
    }
}
.history {
    padding-top: 48px;
    padding-bottom: 92px;
    @media (max-width: $screen-md-max) {
        padding-left: 63px;
        padding-right: 63px;
    }
    .section-title {
        margin-bottom: 40px;
    }
    &__year {
        margin-bottom: 10px;
        color: #be0030;
        font-family: $firasansmedium;
        font-size: 24px;
    }
    &__info {
        color: #333333;
        font-family: $firasanslight;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: $screen-sm-max) {
            br {
                display: none;
            }
        }
    }
    &__items {
        padding: 0 10px;
    }
    &__slider {
        width: 94%;
        margin: 0 auto;
        @media (max-width: $screen-sm-max) {
            width: 90%;
        }
        .slick-next,
        .slick-prev {
            position: absolute;
            top: 44%;
            width: 20px;
            height: 38px;
            margin-top: -10px;
            padding: 0;
            cursor: pointer;
            color: transparent;
            border: none;
            outline: none;
            background: transparent;
            font-size: 0;
            line-height: 0;
            &:hover {
                opacity: 0.5;
            }
        }
        .slick-prev {
            left: -30px;
            &:before {
                display: block;
                content: '';
                @include sprite($prev);
            }
        }
        .slick-next {
            right: -30px;
            &:before {
                display: block;
                content: '';
                @include sprite($next);
            }
        }
        @media(max-width: $screen-md-max) {
            .slick-prev {
                left: -20px;
            }
            .slick-next {
                right: -20px;
            }
        }
    }
}
.partners {
    padding: 56px 0 53px;
    @media (max-width: $screen-md-max) {
        padding-left: 63px;
        padding-right: 63px;
    }
    &__line {
        // margin-bottom: 20px;
        width: 92%;
        margin: 0 auto 33px;
        .slick-next,
        .slick-prev {
            position: absolute;
            top: 29%;
            width: 20px;
            height: 38px;
            margin-top: -10px;
            padding: 0;
            cursor: pointer;
            color: transparent;
            border: none;
            outline: none;
            background: transparent;
            font-size: 0;
            line-height: 0;
            &:hover {
                opacity: 0.5;
            }
        }
        .slick-prev {
            left: -43px;
            &:before {
                display: block;
                content: '';
                @include sprite($prev);
            }
        }
        .slick-next {
            right: -43px;
            &:before {
                display: block;
                content: '';
                @include sprite($next);
            }
        }
        @media(max-width: $screen-md-max) {
            .slick-prev {
                left: -20px;
            }
            .slick-next {
                right: -20px;
            }
        }
    }
    &__text {
        position: relative;
        left: -2px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: $lightgrey;
        font-family: $firasansmedium;
        font-size: 14px;
    }
    &__item {
        text-align: center;
        width: 160px;
        height: 55px;
        position: relative;

        *{
            left: 0 !important;
            right: 0;
            margin: auto;
        }
        img {
            // margin: auto;
            // position: absolute;
            // top: 0;
            // right: 0;
            // bottom: 0;
            // left: 0;
            // margin: auto;
            // filter: grayscale(0);
        }
        // &:hover {
        //     img {
        //         filter: grayscale(0);
        //     }
        // }
    }
}
