.latest-news {
    padding-top: 24px;
    padding-bottom: 60px;
    font-size: 24px;
    line-height: 34px;
    &__img {
        display: block;
        img {
            width: 100%;
        }
        @media (max-width: $screen-md-max) {
            margin-bottom: 20px;
        }
        @media(max-width: $screen-sm-max) {
            padding-top: 150px;
        }
    }
    &__date {
        margin-bottom: 9px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $lightgrey;
        font-family: $firasanslight;
        font-size: 14px;
        line-height: 28px;
    }
    &__title {
        display: block;
        margin: -3px 0 13px;
        transition: 0.2s ease;
        color: #000;
        font-family: $firasansregular;
        font-size: 1em;
        line-height: 34px;
        &:hover {
            transition: 0.2s ease;
            color: $blue;
        }
        @media(max-width: $screen-sm-max) {
            position: absolute;
            top: -317px;
            height: 300px;
            font-size: 20px;
            line-height: 30px;
        }
    }
    &__preview {
        display: block;
        color: #444;
        font-family: $firasansregular;
        font-size: 0.66em;
        font-weight: 400;
        line-height: 24px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.updates-list {
    padding-top: 63px;
    padding-bottom: 34px;
    font-size: 24px;
    @media(max-width: $screen-sm-max) {
        padding-bottom: 0;
        border-bottom: 1px solid #e7e7e7;
        padding-top: 15px;
    }
    &__img {
        display: block;
        margin-bottom: 17px;
        @media(max-width: $screen-sm-max) {
            padding-top: 150px;
        }
    }
    &__title {
        display: block;
        margin-bottom: 25px;
        transition: 0.2s ease;
        color: #000;
        font-family: $firasansregular;
        font-size: 1em;
        line-height: 34px;
        &:hover {
            transition: 0.2s ease;
            color:$blue;
        }
         @media(max-width: $screen-sm-max) {
            position: absolute;
            top: 40px;
            height: 300px;
            font-size: 20px;
            line-height: 30px;
        }
    }
    &__item {
        @media(max-width: $screen-sm-max) {
            margin-bottom: 45px;
            position: relative;
        }
    }
}
.news-main-wrapper {
    margin-bottom: 86px;
    padding-bottom: 20px;
    font-size: 24px;
    @media (max-width: $screen-md-max) {
        padding-top: 20px;
    }
    &--news-page {
        padding: 62px 0 40px;
    }
    &--publications {
        padding: 0 0 87px;
        .news-main-wrapper__news-item {
            &:not(:last-child) {
                margin-bottom: 57px;
            }
        }
    }
    &__news-item {
        &:not(:last-child) {
            margin-bottom: 71px;
        }
    }
    &__title {
        margin-bottom: 47px;
        color: #0b1426;
        font-family: $firasanslight;
        font-size: 1.416em;
        @media (max-width: $screen-md-max) {
            margin-bottom: 20px;
            font-size: 24px;
        }
    }
    &__date {
        margin-bottom: 6px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $lightgrey;
        font-family: $firasanslight;
        font-size: 0.58em;
        line-height: 28px;
    }
    &__preview {
        display: block;
        color: #444;
        font-family: $firasansregular;
        font-size: 0.66em;
        font-weight: 400;
        line-height: 24px;

        &:hover {

            text-decoration: underline;
        }
    }
    &__news-title {
        display: block;
        margin-bottom: 14px;
        transition: 0.2s ease;
        color: #000;
        font-family: $firasansregular;
        font-size: 1em;
        line-height: 34px;
        &:hover {
            transition: 0.2s ease;
            color: $blue;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 20px;
            line-height: 30px;
        }
    }
    &__publication-item {
        &:not(:last-child) {
            margin-bottom: 32px;
            padding-bottom: 37px;
            border-bottom: 1px solid #e7e7e7;
        }
    }
    &__publication-title {
        display: block;
        display: block;
        margin-top: 14px;
        color: #444;
        font-family: $firasansregular;
        font-size: 0.66em;
        line-height: 24px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.socials-list {
    margin-bottom: 60px;
    &__item {
        padding: 14px 20px 29px;
        border: 1px solid #e7e7e7;
        border-radius: 2px;
        @media (max-width: $screen-md-max) {
            margin-bottom: 20px;
        }
    }
    &__title {
        position: relative;
        display: block;
        margin-bottom: 21px;
        padding-left: 34px;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 16px;
        line-height: 28px;
        &:hover {
            text-decoration: underline;
        }
        &:before {
            display: inline-block;
            content: '';
        }
        &.twitter {
            &:before {
                @include sprite($twitter-icon);
                @include position(absolute,3px null null -2px);
            }
        }
        &.facebook {
            &:before {
                @include sprite($fb-icon);
                @include position(absolute,1px null null -1px);
            }
        }
        &.vk {
            &:before {
                @include sprite($vk-icon);
                @include position(absolute,1px null null -1px);
            }
        }
    }
    &__preview {
        margin-bottom: 27px;
        color: #444;
        font-family: $firasansregular;
        font-size: 14px;
        line-height: 22px;
        a {
            color: $blue;
        }
    }
    &__btn {
        transition: 0.2s ease;
        color: $blue;
        border: 1px solid $blue;
        &:hover {
            transition: 0.2s ease;
            color: #fff;
            background: $blue;
        }
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }
}
.news-open {
    border-bottom: 1px solid #e7e7e7;
    &__date {
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
        position: relative;
        top: -18px;
    }
    &__text {
        margin-bottom: 47px;
        letter-spacing: -0.11px;
        color: #333;
        font-family: $firasansregular;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        p {
            margin-bottom: 24px;
        }
    }
    &__text-line {
        position: relative;
        z-index: 1;
        padding-left: 32px;
        padding-right: 13px;
        letter-spacing: -0.5px;
        color: #333333;
        font-family: $firasanslightitalic;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
        &:before {
            margin: auto;
            content: '';
            background: #d90d43;
            @include size(1px,97.3%);
            @include position(absolute,1px null 0 3px);
        }
    }
    &__name {
        color: #333333;
        font-family: $firasansmedium;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 2px;
    }
    &__under-text {
        margin-top: 23px;
        letter-spacing: 0;
        margin-left: 1px;
    }
    &__position {
        text-transform: lowercase;
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 14px;
    }
    &__link {
        display: block;
        color: #333;
        font-family: $firasanslight;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.actual-news {
    border-bottom: 1px solid #e7e7e7;
    padding-top: 41px;
    padding-bottom: 56px;
    &__date {
        color: $lightgrey;
        font-family: $firasansregular;
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 3px;
    }
    &__title {
        color: #444;
        font-family: $firasansregular;
        font-size: 16px;
        line-height: 24px;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }
    &__items {
        @media (max-width: $screen-sm-max) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}
.sharing-news {
    padding-top: 44px;
    padding-bottom: 45px;
    &__title {
        color: #333;
        font-family: $firasansregular;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        @media (max-width: $screen-sm-max) {
            margin-bottom: 20px;
        }
    }
    &__list {
        list-style-type: none;
        column-count: 2;
        width: 303px;
        margin-bottom: 25px;
        @media (max-width: $screen-xs-max) {
            column-count: 1;
        }
        a {
            color: #333;
            font-family: $firasanslight;
            font-size: 16px;
            line-height: 24px;
            display: block;
            white-space: nowrap;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.print-btn {
    color: #333;
    font-family: $firasanslight;
    font-size: 16px;
    line-height: 24px;
    &:before {
        content: '';
        @include size(20px,20px);
        margin-right: 13px;
        background: url("../images/print.svg") no-repeat;
        display: inline-block;
        @include position(relative,6px null null 1px);
    }
}
